extends ../_layouts/base 

block append structured-data
  script. 
    window.location.replace("https://technodomus.odoo.com/buscamos-talento")

block append content
  h1 Buscamos talento 
  h2 Ve al siguiente enlace para dejarnos tus datos 
    a(href="https://docs.google.com/forms/d/e/1FAIpQLSe9ULOY9SxCu1q8XsaieuZ9j2oK4J6uqFdX0Tb-GeEqypefrA/viewform?usp=sf_link") aquí.