script(src=baseUrl+"modules/floating-wpp.js")
link(rel="stylesheet", href=baseUrl+"modules/_modules/floating-wpp.css")

#myDiv

script.
  $(function () {
    $('#myDiv').floatingWhatsApp({
      phone: '525584248665',
      popupMessage: '¿Necesitas ayuda con algún equipo?',
      showPopup: true,
      position: 'left'
      });
  });
