
footer#footer
  .section.caja-contenido-footer.text-center
    p Technodomus SA de CV
      br
      | Escocia 24 Planta | Parque San Andrés, Coyoacan | Ciudad de México, 04040 
      br
      | T. 55533-63212 y 01800-8749522 | info@technodomus 
      br
      a(href=baseUrl+'aviso-privacidad.html') Aviso de privacidad
    p Copyright © 2016 Technodomus.
    p La información e imágenes de los productos son propiedad de sus respectivos propietarios y solo se reproducen aquí con fines promocionales.
