extends ../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Contenedores para esterilización'
  - var tituloPagina = "Technodomus | " + producto
  - var bread = {Inicio: baseUrl, 'Esterilización': './../../', 'Empaque': './../', 'Contenedores':'./'}
  - var descripcion = "Contendores de la más alta calidad y diseño para esterilización con vapor."
  - var cotiza = {estilos: "cotiza", ref: baseUrl + "cotiza/", fa:"info"}
  - var canonical = "http://technodomus.com/esterilizacion/empaque/contenedores.html"

block append content
  .grid
    +cardprod('Contenedores Asipco', './contenedores-as.html')
      .card-body
        +fotoch('contenedor-as.jpg','Contenedores', 'Contenedor ganador del premio RedDot')
        :markdown
          Contenedores de calidad excepcional. Su diseño fue reconocido con el *reddot desing award 2017*. Un sistema de filtro permanente que evita la necesidad de filtros intercambiables manteniendo la misma seguridad.
          
          ![premio de diseño reddot 2017](/images/logo-reddot.png)

    +cardprod('Contenedores Ermis Standard', './contenedores-ermis.html')
      .card-body
        +fotoch('contenedores-esterilizacion.jpg','Contenedores', 'Contenedores metálicos Ermis')
        p Contenedores de nueva generación adecuados a sus necesidades, con excelente durabilidad y un nuevo diseño que los hace más fáciles de usar.
        
    +cardprod('Tapetes de silicona para contenedores', './tapetes.html')
      .card-body
        +fotoch('tapetes-silicon.jpg', 'Tapetes de silicona', 'Tapetes de silicona para conteneores metálicos')
        p Un complemento imprescindible para sus contenedores, separando el instrumental durante el proceso de esterilización y evitando que entre en contacto con el líquido que su pudiera haber condensado. Además reduce la posibilidad de abrasión o daños por golpes con el fondo del contenedor.
            
    +cardprod('Soportes Universales de silicona', './soportes-universales.html')
      .card-body
        +fotoch('soportes-en-uso.jpg', 'Soportes de silicona', 'Soportes de silicona para acomodo del equipo dentro del contenedor')
        p Facilite el acomodo del instrumental dentro del contenedor y garantice siempre una esterilización completa manteniendo el equipo en la posición adecuada.
        
block append scripts
  include ../../_modules/popups/esterilizacionpop
        
        
