extends ../../_layouts/productos2

block append config
  - var baseUrl = './../../'
  - var urlLinks = '/esterilizacion/empaque/index.html'
  - var producto = "Selladora de bolsas para esterilización"
  - var tituloPagina = 'Technodomus | ' + producto
  - var descripcion = "Un equipo de sellado térmico que mejora la calidad de sus proceso de esterilización garantizando facilitando el manejo del instrumental y garantizando la validez de su esterilidad"
  - var bread = {Inicio: baseUrl, Esterilización: './../', Empaque: './', Selladora: "./selladora.html"}

block append content

  .grid
    +cardprin(producto)
      .card-body
        +foto('selladora.png', 'Selladora térmica de alta capacidad', 'Selladora de bolsas')
        :marked
          La selladora TS-100 esta diseñada para sellar de forma consistente los empaques termosellables, de forma rápida y efectiva.
          
          Entre sus características principales están:

          * Control de temperatura de 60 a 220°C con variaciones máximas de 1%.
          * Calentamiento rápido, en solo 40 segundos alcanza 180°C.
          * Sistema de presión que permite sellar bolsas mixtas papel-plástico y plástico-plástico.
          * Piezas de calentamiento de cerámica de alta resistencia y larga vida util.
            
    +cardprod('Parametros de funcionamiento')
      .card-body
        :marked
          | Parámetro            | Valor          |
          |----------------------|----------------|
          | Velocidad de sellado | 10 m/min       |
          | Ancho del sello      | 12 mm          |
          | Potencia máxima      | 500 W          |
          | Tamaño               | 482x242x157 mm |
          | Peso                 | 15 Kg          |
