extends ../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Tapetes de silicona'
  - var tituloPagina = "Technodomus | " + producto
  - var bread = {Inicio: baseUrl, 'Esterilización': './../', 'Empaque': './', 'Tapetes de silicona':'./tapetes.html'}
  - var descripcion = "Tapetes elaborados en silicona de calidad y resistente a altas temperaturas, ideales para mantener ordenado el instrumental durante la esterilización."
  - var cotiza = {estilos: "cotiza", ref: baseUrl + "cotiza/", fa:"info"}
  - var canonical = "http://technodomus.com/esterilizacion/empaque/tapetes.html"

block append content

  .grid
    +cardprod(producto)
      .card-body
        +fotoch('tapetes-con-instrumental.jpg','Tapetes de silicona para contenedor', 'Ayudan a mantener el instrumental en la posición correcta')
        :marked
          Los tapetes de silicona son una excelente opción para facilitar el manejo del instrumental ya que reducen el movimiento de este dentro del contenedor y evitan que toque el fondo del mismo.
          
          Disponibles en distintos tamaños, también es posible recortarlos para que se adapten a diferentes contenedores o cajas de instrumental.
          
          | Colores disponibles  | Dimensiones        |
          | -------------------- | ------------------ |
          | Verde y azul         | 270 x 125 mm       |
          | Verde y azul         | 245 x 245 mm       |
          | Verde y azul         | 150 x 120 mm       |
          | Verde y azul         | 260 x 160 mm       |
          | Verde y azul         | 220 x 230 mm       |
          | Verde y azul         | 380 x 230 mm       |
          | Verde y azul         | 440 x 230 mm       |
          | Azul                 | 570 x 550 x 19 mm  |
          | Verde y azul         | 260 x 160 mm       |
          | Verde y azul         | 260 x 160 mm       |
          | Verde y azul         | 260 x 160 mm       |
          | Verde y azul         | 260 x 160 mm       |
          | Verde y azul         | 260 x 160 mm       |

        +ermis

    +cardfoto('tapetes-silicon.jpg', 'Diseño de los tapetes de silicona', 'Su diseño permite que el instrumental permanezca seco y en su posición')
      
    +cardprod('Tapete con base calada')
      .card-body
        +fotoch('tapete-calado.jpg')
        :marked
          | Colores disponibles  | Dimensiones  |
          | -------------------- | ------------ |
          | Azul                 | 545 x 255 mm |
          
        +ermis
        
    +cardsubp('Tapetes de colores')
      .card-body
        +fotoch('tapetes-silicon-colores.jpg')
        :marked
          | Colores disponibles  | Dimensiones       |
          | -------------------- | ------------      |
          | Morado               | 495 x 275 x 10 mm |
          | Verde                | 495 x 275 x 10 mm |
          | Rojo                 | 495 x 275 x 10 mm |
        
        +ermis

block append scripts
  include ../../_modules/popups/esterilizacionpop
