extends ../../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../../'
  - var producto = 'Sistemas de Radiología Computarizada'
  - var tituloPagina = "Technodomus | " + producto
  - var descripcion = "Sistemas completos para digitalizar su flujo de trabajo radiológico y mejorar su productividad sin tener que invertir mucho."
  - var bread = {Inicio: baseUrl, Imagenología: './../../', 'Radiología Digital': './../', 'Input Digital':'./'}  

block append content

  +cardprod('Radiología Computarizada')
    .card-body
      +foto('/cRcarestream.jpeg', 'radiología computarizada', 'Sistema CR-Vita con estación de trabajo')
      p Mejorar los tiempos de procesamiento de las imágenes, reducir la exposición del paciente a la radiación y eficientar el acceso a la información generada, son las principales ventajas de la radiología digital, pero su costo de adquisición es elevado. La alternativa son los sistemas de computarizados, que permiten seguir usando sus equipos de radiología ya instalados pero con la ventaja de poder generar imágenes digitales fácilmente y a un costo competitivo.
      p Technodomus ofrece alternativas para facilitar su transición a los sistemas digitales como el CR-Vita.
      +carestream
