extends ../_layouts/productos2

block append config
  - var baseUrl = './../'
  - var tituloPagina = "Technodomus | Soluciones en imagenología"
  - var descripcion = "Mejore su atención al paciente con nuestras soluciones de imagenología, como mesas de rayos X, salas de rayos X, fluoroscopía, rayos X digitales, computarizados, soluciones análogicas, salidas de sus equipos digitales en impresoras láser, películas secas DryView y mastografía"

block content
 