extends ../../_layouts/productos2

block append config
  - var baseUrl = './../../'
  - var urlLinks = '/imagenologia/ultrasonido'
  - var producto = 'Sistemas de ultrasonido'
  - var tituloPagina = "Technodomus | Soluciones " + producto
  - var descripcion = "Mejore su atención al paciente con nuestras soluciones de imagenología, como mesas de rayos X, salas de rayos X, fluoroscopía, rayos X digitales, computarizados, soluciones análogicas, salidas de sus equipos digitales en impresoras láser, películas secas DryView y mastografía"
  - var bread = {Inicio: baseUrl, Imagenología: './../', Ultrasonido: './'}

block append content

  .grid
    +cardprin('Sistemas de Ultrasonido')