extends ../../_layouts/noticias

block append config
  - var baseUrl = './../../'
  - var noticia = "XVIII Congreso Nacional de Enfermería Quirúrgica"
  - var subtitulo = "Mejor esterilización para una cirugía segura"
  - var tituloPagina = noticia
  - var fechalarga = "6 de noviembre de 2017"
  - var fecha = '2017-11-06'
  - var autor = 'Technodomus'
  - var descripcion = "Difundiendo el conocimiento de las técnicas más novedosas de esterilización con las especialistas en enfermería quirúrgica"
  
block append content
  
  .grid
    +cardmax(subtitulo)
      .card-body
        img(src=baseUrl+"/images/validacion.jpg", alt="")
        include:marked congreso-enfermeria.md
          
