
extends ../../_layouts/noticias

block append config
  - var baseUrl = './../../'
  - var noticia = "Carestream Digital Fair 2018"
  - var subtitulo = "Registrate con nosotros para asistir"
  - var fechalarga = "13 de abril de 2018"
  - var fecha = '2018-04-13'
  - var autor = 'Technodomus'
  - var descripcion = "La Digital Fairs de Carestream es la oportunidad ideal para que conozca las nuevas propuestas tecnológicas de Carestream."

block append content
  
  .grid
    .soloescri
      +cardprod(subtitulo)
        .card-body
          p Todos los años Carestream genera un número importante de innovaciones para mejorar la calidad de las imágenes médicas y los sistemas de infomación para el cuidado de la salud
          p Todas estas innovaciones se presentan en un solo lugar, la <b>Digital Fairs</b> donde los especialista de Carestream presentan a los profesionales de la salud los avances y nuevas tecnologías que ayudan a ofrecer una atención médica más rápida, eficiente y segura.
          p La <b>Digital Fairs</b> de este año se realizara en el Hotel Hilton del Centro Histórico en Av. Juárez 70, Col. Centro, Ciudad de México, los días 25 y 26 de abril de las 9 a 18 h.
          p Si deseas asistir, llena el formulario anexo para poder registrar tu participación y agendar tu visita.
    
    .solomob
      .card
        .card-body
          p El 25 y 26 de abril, Carestream nos quiere sorprender con la tecnología más util y novedosa para el cuidado de la salud. Si quieres conocerla, agenda una cita con nosotros para que asistas al Carestream Digital Fairs, en el Hotel Hilton del Centro Histórico.
          
    +cardextra('Formato de registro')
      .card-body.contenedor-iframes
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdgXxwfc8FXrhWn6n1fSWKcMAMthhlBsXx0GxNvAx1NCu_H8Q/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
