extends ../_layouts/base

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var tituloPagina = "Trabaja con nosotros"

block content

  .grid
    +cardmax('Envianos tu curriculum')
      .card-body
        p Buscamos a profesionales dispuestos a aceptar retos, a seguir creciendo y aprendiendo en entornos estimulantes, y decididos a afrontar cualquier situación. Si estas interesado a integrarte a una empresa dinámica en el ramo de las tecnologías de la salud, esta es tu oportunidad. Envianos tus datos y en breve nos pondremos en contacto contigo.
        form(name='curriculum' id="forma-curriculum" action='https://getsimpleform.com/messages?form_api_token=bdf49a68ed14026243a865dc552c15b1' method="POST" enctype="multipart/form-data")
          input(type="hidden" name="redirect_to" value="./gracias.html")
          .form-group
            label(for='nombre') Nombre 
            input#nombre(type='text' name='nombre' placeholder='Nombre de contacto')
            label Telefono
            input(type='tel' name='telefono' placeholder='a 10 dígitos')
            label Correo
            input(type='email' name='email'   placeholder="correo@empresa.com")
          .form-group
            label Posición de su interes
            input(type='text' name='posicion' placeholder="Ventas, Servicio técnico, etc." size="40")
          .form-group
            label Su mensaje
            textarea.caja(rows='5' type="text" name='mensaje')
          .form-group
            label Anexe su curriculum
            input(type="file" name="curriculum")
            input.btn.btn-raised(type="submit" value="Anexar archivo")
          input.btn.btn-primary.btn-raised(type='submit' value='Enviar Formulario')
