extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var tituloPagina = "Conoce Technodomus por dentro"
  - var descripcion = "Technodomus, una compañia orientada a mejorar la salud por medio de tecnología que permita procesos médicos efectivos y adecuados."

block content
  +jumbo('Technodomus es...')

  .grid
    +cardextra('Una empresa mexicana')
      .card-body
       include:markdown nosotros.md

       +laoken
       +gke
       +as
       +ermis
       +carestream
       +stericlin
       +metrex
    
    +cardsubp('¿Te gustaría trabajar con nosotros?', './trabaja.html')
      .card-body
        p Somos una empresa en crecimiento y constantemente tenemos ofertas de trabajo, conocelas 
          a(href="./trabaja.html") aquí.
