extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var tituloPagina = "Conoce Technodomus por dentro"
  - var descripcion = "Technodomus, una compañía orientada a mejorar la calidad de vida acercando tecnología innovadora que permita procesos médicos efectivos y adecuados. Nos interesa impactar en la seguridad de los pacientes fortaleciendo protocolos de cirugía segura y trazabilidad de los procesos de esterilización. También queremos mejorar las condiciones laborales de los profesionales de la salud ofreciendo productos que agilicen sus ciclos de trabajo, reduzcan las cargas y la exposición a riesgos laborales como la radiación."

block content
  +jumbo('Technodomus es...')

  .grid
    +cardextra('Una empresa mexicana')
      .card-body
       include:markdown nosotros.md

       +laoken
       +gke
       +as
       +ermis
       +carestream
       +stericlin
       +metrex
    
    +cardsubp('¿Te gustaría trabajar con nosotros?', './trabaja.html')
      .card-body
        p Somos una empresa en crecimiento y constantemente tenemos ofertas de trabajo, conocelas 
          a(href="https://docs.google.com/forms/d/e/1FAIpQLSe9ULOY9SxCu1q8XsaieuZ9j2oK4J6uqFdX0Tb-GeEqypefrA/viewform?usp=sf_link") aquí.
