extends ./../_layouts/base
// Oferta de empleo en ventas

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  .jumbotron
    h1 Trabaja con nosotros
  
  .grid
    +panelprin('Puestos disponibles')
      .panel-body
       a(href="https://www.occ.com.mx/Empleo/oferta/9180358") 
        h3 Especialista en ventas
       :markdown
        Buscamos gente que le gusta asumir retos que no teme enfrentarse a dificultades, que no le afecta trabajar en un ambiente de constante cambio. Que entiende las exigencias que se le piden y es consciente de su trabajo.
        #### Requisitos
        - Licenciatura terminada o pasante en Mercadotecnia, Administración, Relaciones comerciales, Ingeniería Biomédica o carrera similar.
        - 25 años mínimo.
        - Cumplira funciones de asesor por lo que tiene que tener experiencia en procesos de ventas.  
        - Disponibilidad de viajar ya que en ocasiones tendrá que hacerlo.
        - **Inglés** para traducir manuales y tomar cursos.
        
        #### Experiencia 
        Mínimo tres años comprobables en una misma empresa, en ventas de servicios  o en productos de venta compleja ya que con lleva mayor tiempo de cierre. 
        
      .panel-footer
        a(href="https://www.occ.com.mx/Empleo/oferta/9180358") Envia tu curriculum aquí
