extends ./../_layouts/base
// Oferta de empleo en ventas

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var tituloPagina = "Technodomus conoce nuestros puestos disponibles"

block append content
  +jumbo("Puestos disponibles")

  .grid

    +cardmax('Representante de ventas en oficina')
      .card-body
       :markdown
        Buscamos alguien que le guste asumir retos, sin temor de enfrentarse a dificultades, capaz de trabajar en un ambiente de constantes retos, con gran capacidad de comprender las exigencias de su trabajo y consciente de su papel para alcanzar retos y evaluar su desempeño.

        #### Requisitos
        - Licenciatura terminada o pasante en Mercadotecnia, Administración, Relaciones Comerciales, Ingeniería Biomédica o carrera similar.
        - 25 años mínimo.
        - Cumplirá funciones de asesor por lo que tiene que tener experiencia en procesos de ventas.  
        - **Inglés** para traducir manuales y tomar cursos.
        
        #### Experiencia 
        Mínimo un año comprobables en una misma empresa, en ventas de servicios o productos de venta compleja con plazos medios de cierre. 
        
      .card-footer
        p Envía tu currículo
          a(href="./forma-curricula.html")  aquí.
          