extends ../../_layouts/base 

block append structured-data 
  script. 
    window.location.replace("https://technodomus.odoo.com/farmacia-hospitalaria/experiencia")

block append content 
  h1 Conoce como tener una farmacia hospitaria más eficiente 
  h2 Si no funciona haz click
    a(href="https://technodomus.odoo.com/farmacia-hospitalaria/experiencia") aquí.