extends ../../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../../'
  - var producto = 'Película DryView Carestream para mamografía'
  - var tituloPagina = "Technodomus | " + producto
  - var bread = {Inicio: baseUrl, Imagenología: './../../', 'Radiología Digital': './../', 'Output Digital':'./'}
  - var descripcion = "Película radiográfica láser para mamografía DRYVIEW, permite obtener imágenes de excelente calidad con la impresora láser DryView 6850, la calidad de Kodak ahora con el respaldo de Carestream"
  - var canonical = "http://technodomus.com/imagenologia/rx-digital/output-digital/pelicula-dryview-mamografia.html"

block append content

  .grid
    +panelprod(producto)
      .panel-body
        +foto('/outputD-dryview.png','película DRYVIEW para mamografia')
        :markdown
          La película radiográfica láser DRYVIEW optimizada para aplicaciones de mamografía, se complementa con la [impresora DryView 6950](./impresora-dryview6950.html). Tiene una alta densidad máxima, por lo que las sombras sutiles de la imagen aparecen totalmente nitidas. Posee una capacidad de archivado excepcional. La película radiográfica láser para mamografía DRYVIEW permite generar imágenes de tamaño real y el paquete para luz diurna proporciona una mayor facilidad de uso.
          +carestream
          
    +panelsubp("Características")
      .panel-body
        :marked
          * Duración en almacenamiento superior a 100 años
          * Cartuchos de películas para cargar a la luz del día
          * 125 hojas por cartucho
          * Sustrato de poliéster de 0.17 mm, durable y resistente
          * Calidad excepcional de imágenes de diagnóstico
          * Gran nitidez en la reproducción de caracteres e imágenes con niveles excepcionales de resolución espacial, contraste y escala de grises
          * Adoptado a sistemas AIQC 
          
    +panelsubp("Tamaños")
      .panel-body
        :marked
          pulgadas | centímetros
          :-------:|:----------:
          11x14 | 28x35
          10x12 | 25x30
          8x10 | 20x25
          
