extends ../../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../../'
  - var producto = 'Quemadores de medios ópticos'
  - var tituloPagina = "Technodomus | " + producto
  - var bread = {Inicio: baseUrl, Imagenología: './../../', 'Radiología Digital': './../', 'Output Digital':'./'}  

block append content

  +panelprod('Una imagen, multiples salidas')
    .panel-body
      +foto('/output-digital.jpg','Output digital')
      p El formato digital permite una gran flexibilidad al momento de generar productos adecuados a partir de las imágenes capturadas. No solo se queda en pantalla, las opciones de salida facilitan la consulta, almacenamiento y distribución de la información necesaria para un diagnóstico oportuno.
