extends ../_layouts/base

block append structured-data
  script. 
    window.location.replace("https://technodomus.odoo.com/webinars")

block append content
  h1 Te vamos a llevar a la página correcta... 
  h2 Si no funciona haz click
    a(href="https://technodomus.odoo.com/webinars") aquí.