extends ../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Película plana'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Imagenología: './../', 'Radiología Analógica': './', 'Película Plana': '#'}  

block append content

  .grid
    +panelprin('')
      .panel-body
        +foto('analogico-peliculaplana.png', 'Pelicula plana')
    
    +panelprod('Características generales')
      .panel-body

    +panelprod('Medidas disponibles')
      .panel-body
        :marked
          Código | Medidas | Cantidad
          :-----:|:-------:|:-------: