extends ../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Película plana'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Imagenología: './../', 'Radiología Analógica': './', 'Película Plana': '#'}  

block append content

  .grid

    +panelprin('Opciones adecuadas')
      .panel-body
        +foto('analogico-peliculaplana.png', 'Pelicula plana')
        p La calidad, redimiento y versatilidad de la película radiográfica, junto con la renovación de sus métodos de producción y uso la convierten en una solución adecuada para que usted pueda aprovechar su experiencia en el manejo de imágenes analógicas.
        p Contamos con películas que se adaptan a sus necesidades y que permiten generar excelentes imágenes de forma constante.

    +panelprod('Películas X-SIGHT', './pelicula-x-sight.html')
      .panel-body
        p La opción más avanzada en películas que en combinación con las pantallas aceleradoras X-SIGHT ofrecen un sistema avanzado de tratamiento.
      .panel-footer
        a(href="./pelicula-x-sight.html") Conozca las opciones de esta película
    
    +panelprod('Película T-MAT G/RA', './pelicula-t-mat.html')
      .panel-body
        p Películas sensibles al verde que son adecuadas para radiográfias de especialidad y de alto contraste.
      .panel-footer
        a(href="./pelicula-t-mat.html") Conozca las opciones de esta película

    +panelprod('Película MXB', './pelicula-mxb.html')
      .panel-body
        p Película sensible al azul de velocidad completa y adecuada para radiología general.
      .panel-footer
        a(href="./pelicula-mxb.html") Conozca las opciones de esta película

    +panelprod('Película MXG', './pelicula-mxg.html')
      .panel-body
        p Película ortocromática de medio-alto contraste para propositos generales.
      .panel-footer
        a(href="./pelicula-mxg.html") Conozca las opciones de esta película