extends ../../_layouts/noticias

block append config
  - var baseUrl = './../../'
  - var noticia = "Atención más cercana a nuestros clientes del Bajío"
  - var fecha = "30 de marzo de 2017"
  - var descripcion = "Technodomus ofrece ahora atención especializada a los estados de Guanajuato, San Luis Potosí, Guanajuato, Queretaro, Aguascalientes, Zacatecas y Jalisco, con los mejores equipos y tecnologías en esterilización por plasma, trazabilidad, validación, radiología digital, impresoras Dry-View, películas para impresión para mejorar la atención a sus pacientes, la calidad y eficiencia de sus servicios."
  
block append content
  
  .grid
    +cardprod('Nueva sucursal en el centro-occidente del país')
      .card-body
        include:marked bajio.md

    .card
      .card-body
        +foto_ext('http://vivaaguascalientes.com/wp-content/uploads/2016/02/exedra.jpg', 'La Excedra en Aguascalientes', 'La Excedra')
        p Visita Aguascalientes y conoce 
          a(href="http://vivaaguascalientes.com/plaza-patria-y-exedra/") más.

    .card
      .card-body
        +foto_ext('http://www.guanajuato.mx/gtomx/images/stories/destinos/celaya/loop/loop04-celaya.jpg', 'La Bola de Agua en el centro de Celaya', 'La Bola de Agua')
        p Conoce más de Celaya 
          a(href="http://www.guanajuato.mx/gtomx/es/destinos/celaya/item/celaya") aquí.

    .card
      .card-body
        +foto_ext('http://www.queretaro.travel/media/uploads/2016/12/20/SantiagodeQro_2_EZku1sH.jpg', 'El acueducto de Querétaro', 'El acueducto')
        p Querétaro, puerta de entrada al Bajío, conocelo 
          a(href="http://www.queretaro.travel/en/section/6/santiago-de-queretaro/") aquí.
      
    .card
      .card-body
        +foto_ext('http://www.guanajuato.mx/gtomx/images/stories/destinos/guanajuato/loop/loop03-guanajuato.jpg', 'El Teatro Juárez de Guanajuato', 'Teatro Juárez')
        p Guanajuato Cápital un destino cervantino 
          a(href="http://www.guanajuato.mx/gtomx/es/destinos/guanajuato") exploralo.

    .card
      .card-body
        +foto_ext('http://www.guanajuato.mx/gtomx/images/stories/destinos/leon/loop/loop-leon04.jpg', 'Festival Internacional del Globo en León', 'Festival del Globo')
        p Explora León en este 
          a(href="http://www.guanajuato.mx/gtomx/es/destinos/leon") enlace.

    .card
      .card-body
        +foto_ext('http://www.visitasanluispotosi.com/Principal/Elementos/Galerias/Centro/10SantaMariaDelRio.jpg', 'La Caja de Agua en San Luis Potosí', 'Caja de Agua')
        p Si quieres conocer más de San Luis Potosí visita esta 
          a(href="http://www.visitasanluispotosi.com/Principal/SanLuisPotosi_capital.html") página.