extends ../../_layouts/noticias2

block append config
  - var baseUrl = './../../'
  - var noticia = "Esterilización de baja temperatura I"
  - var subtitulo = "¿Cómo elegir la mejor opción?"
  - var fechalarga = "5 de marzo de 2019"
  - var fecha = '2019-04-05'
  - var autor = ' Benjamín Jiménez'
  - var descripcion = "Elegir un método de esterilización de baja temperatura no es sencillo debido a la gran variedad de tecnologías disponibles. Por ello en este espacio hacemos un recuento de las opciones, asi como sus características, ventajas y desventajas para poder orientar la decisión del sistema o método más adecuado para tus necesidades. Esta es la primera parte"
  - var palabras_clave = ['Baja temperatura', 'Esterilización', 'Formaldehído', 'Radiación', 'Óxido de etileno']
  - var titulo = noticia
  - var tituloPagina = titulo
  - var resumen = "Los métodos de esterilización de baja temperatura son una alternativa a la esterilización por vapor pero tienen sus propias condiciones de uso. En este artículo abordamos los sistemas de esterilización que usan radiaciones, el método de óxido de etileno y el formaldehído de baja temperatura. Estos sistemas han tenido mayor desarrollo a partir de la década de 1980 gracias a la demanda de métodos de cirugía mínimamente invasiva que generaron una necesidad mayor de procesar materiales sensibles a la temperatura. En general, son métodos efectivos pero que presentan retos para su uso, que pueden encarecer o complicar su implementación."
  - var tambien = {"¿Puedo ahorrar con la esterilización con plasma?": "./costos-plasma.html", "Mejora tus empaques 'puch'": "./sellador.html", "Procesamiento de endoscopios": "./procesamiento-endoscopios.html"}

block articulo
  include:marked metodos_bajatemperatura.md
  