extends ../../_layouts/noticias2

block append config
  - var baseUrl = './../../'
  - var noticia = "¿Cómo reducir los contagios de los patógenos de trasmisión aérea?"
  - var subtitulo = "Más allá de la purificación, los métodos de desinfección del aire se suman a las herramientas para controlar los contagios."
  - var fechalarga = "1 de abril de 2020"
  - var fecha = '2020-04-02'
  - var autor = ' Technodomus.'
  - var descripcion = "En el combate a las infecciones como la del COVID-19 se han usado multiples herramientas como la protección personal, la restricción del contacto o 'sana distancia' o enfatizar en la importancia del lavado de manos, pero hay otras herramientas como el control del aire en sitios donde hay posibilidad de contaminación del virus para reducirlo o eliminarlo por completo del aire y controlar así el riesgo de contagio."
  - var palabras_clave = ['Esterilización', 'SARS-CoV2', 'Infecciones vía aérea', 'Plasma']
  - var titulo = noticia
  - var tituloPagina = titulo
  - var resumen = "La pandemia de COVID-19 ha renovado la preocupación en las enfermedades de transmisión aérea y los mecánismos para detener su propagación. Se ha discutido el papel del equipo de protección personal como los respiradores tipo N95 o las mascarillas y cubrebocas quirúrgicos, pero todos son herramientas que requieren del buen uso y participación de las personas. Otra opción es el uso de sistemas que eliminen los agentes infecciosos del aire, sistemas que también se usan para mejora la calidad del aire en general, reducir el impacto de contaminantes y la incidencia de alergías. Algunos de estos equipos tienen la capacidad de desinfectar el aire hasta obtener un aire prácticamente estéril que aumenta la seguridad de las personas en zonas de contacto con agentes infecciosos aéreos."
  - var tambien = {"Esterilización de baja temperatura": "./esterilizacion_baja_temperaura_parte1.html"}

block articulo
  include:marked porque_plasma.md


