extends ../../_layouts/noticias

block append config
  - var baseUrl = './../../'
  - var noticia = "Día mundial contra el cáncer de mama "
  - var subtitulo = "La detección temprana son más oportunidades frente al cáncer"
  - var fechalarga = "19 de octubre de 2017"
  - var fecha = '2017-10-19'
  - var autor = 'Technodomus'
  - var descripcion = "Hoy Techondomus se suma a los efuerzos por reducir el impacto del cáncer de mama y mejorar la cultura de prevención, autoexploración y detección temprana"
  
block append content
  
  .grid
    +cardmax(subtitulo)
      .card-body
        include:marked octubreMesdelCancerdeMama.md