extends ../../_layouts/noticias2

block append config
  - var baseUrl = './../../'
  - var noticia = "4 razones por las que los indicadores químicos son esenciales para el monitoreo de rutina de los procesos de esterilización."
  - var subtitulo = "Monitoreo constante y sencillo gracias a los indicadores químicos"
  - var fechalarga = "23 de octubre de 2019"
  - var fecha = '2019-10-23'
  - var autor = ' Technodomus.'
  - var descripcion = "Los indicadores químicos han evolucionado y a partir de la norma ISO 11140-1 en Europa se han convertido en el estándar para el monitoreo rutinario de los procesos de esterilización, al grado de desplazar a los indicadores biológicos en muchas aplicaciones. La principal ventaja de los indicadores químicos es que pueden ser diseñados para responder a condiciones precisas de forma constante y requieren menos cuidados para su manejo por lo que ofrecen respuestas consistentes. Además, su costo es mucho menor que el de los indicadores biológicos, lo que permite usarlos de forma intensiva para monitorear cada artículo o paquete esterilizado."
  - var palabras_clave = ['Esterilización', 'Indicadores químicos', 'ISO 11140-1', 'Monitoreo de paquetes', 'Validación']
  - var titulo = noticia
  - var tituloPagina = titulo
  - var resumen = "Uno de los principales retos de la esterilización es el conocer si el proceso funcionó correctamente, por lo que desde la década de 1950 de comenzó el uso de indicadores para evaluar cada proceso de esterilización. Estas tecnologías evolucionaron hasta el surgimiento de normas internacionales como la ISO 11140 para regular su uso. Los indicadores químicos ofrecen ventajas importantes ya que hacen más rápido y eficiente el trabajo de monitoreo de las condiciones de esterilización. Los IQ, han evolucionado y permiten monitorear condiciones precisas del proceso y evaluar de forma mucho más extensa el comportamiento del esterilizador, además de permitir reconocer el material ya esterilizado y probar el funcionamiento de los equipos de esterilización en las condiciones más demandantes o para esterilizar equipos quirúrgico complejos."
  - var tambien = {"Mejora tus empaques 'puch'": "./sellado.html", "Procesamiento de endoscopios": "./procesamiento-endoscopios.html", "¿Puedo ahorrar con la esterilización con plasma?": "./costos-plasma.html"}

block articulo
  include:marked razones-quimicos.md

