extends ../../_layouts/noticias

block append config
  - var baseUrl = './../../'
  - var noticia = "Mejores prácticas de sellado"
  - var subtitulo = "Garantice la esterilidad de sus paquetes y evite el reprocesado"
  - var fechalarga = "6 de junio de 2018"
  - var fecha = '2018-06-06'
  - var autor = 'Technodomus'
  - var descripcion = "El sellado es una garantia para que los paquetes procesados en la CEyE permanezcan esteriles por más tiempo. Te damos algúnos consejos para mejorar la calidad del sellado en paquetes tipo 'pouch'"
  
block append content
  
  .grid
    +cardmax(subtitulo)
      include:marked sellado.md
