extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var noticia = 'Noticias'
  - var tituloPagina = "Blog para dar a conocer las actualidades de la esterilización y la imagenología en México y el mundo"
  - var descripcion = "Información técnica precisa sobre los avances y novedades en tecnología médica, imagenología, rayos X, esterilización, manejo de la CEyE, trazabilidad y validación de los procesos de esterilización. También publicamos información sobre los eventos de actualización en los que participamos o los que organizamos con especialistas nacionales e internacionales. Conoce sobre las alternativas a los sistemas de esterilización más conocidos como el Sterrad® de Johnson&Johnson® o el autoclave tradicional de vapor"
  
block append content
  +jumbo('Blog de Technodomus')
  
  .grid
    +cardsprin('¿Cuál es el mejor sistema de esterilización de baja temperatura para mi?', './novedades/baja-temperatura-parte1.html') 
      .card-body
        +foto('')
        p En esta serie de artículos puedes conocer las características, alcances, ventajas y desventajas de los métodos de esterilización de baja temperatura 
        a(href="./novedades/esterilizacion_baja_temperatura_parte1.html" title="Compara los métodos de baja temperatura para elegir la mejor opción de esterilización.")
          h4 Conoce mejor los metodos de baja temperatura

    +cardsprin('Mejora tus empaques "pouch" con un correcto sellado', './novedades/sellado.html')
      .card-body
        +foto('empaque-instrumental.jpg', 'Mejore el sellado del empaque con sencillos consejos', 'Empaque de instrumental')
        p El empaque es un punto crítico del proceso de esterilización ya que evita la reinfección del material. En este sentido, el sellado es esencial para que el empaque mantenga su integridad. En este artículo se mencionan algunas prácticas para mejorar el proceso de sellado.
        a(href="./novedades/sellado.html" title="Mejores prácicas de sellado")
          h4 Más información.

    +cardsprin('Virus de computo ataca al sector salud', './novedades/virus-salud.html')
      .card-body
        p Un virus de computo detectado en equipos en EUA, Europa y Asía tiene una alta prevalencia entre el sector salud y hace suponer que fue diseñado para atacar este tipo de usuarios.
        a(href="./novedades/virus-salud.html" title="Virus ataca al sector salud")
          h4 Más información.

    +cardsprin('Carestream Digital Fairs 2018')
      .card-body
        +foto('carestreamDigitalFairs.png', 'Carestream Digital Fairs 2018', 'Digital Fairs')
        p Los días 25 y 26 de abril Carestream nos va a sorprender con tecnologías útiles y novedosas para mejorar la calidad de los cuidados de la salud.
        a(href="./eventos/digitalfairs.html" title="Asiste a la Digital Fairs con nosotros")
          h4 Conoce más de este evento.
        
    +cardsprin('Tendencias en limpieza y esterilizacion')
      .card-body
        +foto('seminariogke-2018.png', 'Seminario Internacional de Limpieza y Esterilización', 'Conoce las tendencias actuales para la esterilización en tu hospital')
        p El Dr. Kaiser impartió un seminario con información científica para entender y validar mejor los procesos de esterilización que se realizan en cualquier CEyE.
        a(href="./eventos/seminario-abril-2018.html" title='Reseña del Seminario sobre Tendencias en Limpieza y Esterilzación')
          h4 Lo más destacado del Seminario.

    +cardsprin('¿Puedo ahorrar con la esterilización con plasma?', './novedades/costos-plasma.html')
     .card-body
       +fotoch('/esterilizador-plasma-100.jpg', 'Esterilizadores que ahorran financieramente')
       p Generalmente se piensa que la esterilización por plasma es solo un gasto necesario, pero si se considera los ahorros que puede generar el menor desgaste en los equipos, puede que compense con creces la inversión.
       a(href="./novedades/costos-plasma.html" title='¿Cuánto puede ahorar la tecnología de esterilización por plasma?')
         h4 Cuanto puedes ahorrar con el plasma.

    +cardsprin('Congreso de la Sociedad Americana de Radiología 2017', './novedades/rsna2017.html')
     .card-body
       +fotoch('/imagenologia-monitor.jpeg', 'Actualidades desde la RSNA 2017')
       p Los radiologos estadounidenses se reunieron para conocer los avances en imagenología destancando la evolución de los sistemas de inteligencia artificial para auxiliar las labores de imagenología.
       a(href="./novedades/rsna2017.html" title='RSNA2017')
         h4 Te contamos que paso en el evento

    +cardsprin('XVIII Congreso Nacional de Enfermería Quirúrgica', './eventos/congreso-enfermeria.html')
      .card-body
        +foto_ext(baseUrl+'images/validacion.jpg')
        p Las profesionales de la atención quirúrgica a nivel de enfermería se reunieron en Manzanillo Colima, y nos compartieron sus inquietudes sobre la importancia de la esterilización en los procesos quirúrgicos
        a(href="./eventos/congreso-enfermeria.html", title="Congreso de Enfermería Quirúrgica")
          h4 Technodomus comparte las ventajas de la esterilización por plasma

    +cardsprin('Día de la concientización sobre el cáncer de mama', './novedades/octubre2017.html')
      .card-body
        +foto_ext(baseUrl+'images/logo-octubre.png', 'Technodomus participa del mes de concientización del cáncer de mama')
        p El cáncer de mama es ya la principal causa de muertes por cáncer entre mujeres en nuestro país, aún es necesario fortalecer la cultura de la prevención
        a(href="./novedades/octubre2017.html")
          h4 Conoce más sobre el cáncer de mama y protegete
          
    +cardsprin('Nueva sucursal en el Bajío', './novedades/atencion-bajio.html')
      .card-body
        +foto_ext('http://vivaaguascalientes.com/wp-content/uploads/2016/02/exedra.jpg', 'Nos acercamos a los estados de Aguascalientes, Guanajuato, Querétaro, San Luis Potosí' ,'Nueva sucursal Bajio')
        p Conscientes de las necesidades de productos de esterilización e imagenología en la región del Bajio hemos abierto una sucursal para mejorar nuestra atención y facilitar el acceso a la tecnología más actual e innovadora a los profesionales de salud del centro-occidented del país. Atención a cargo de <a href="mailto:mmolina@technodomus.com"> Manuel Molina</a> en el telefono <a href="tel:+5215519654158">5519654158</a>
        a(href="./novedades/antencion-bajio.html")
          h4 Inicia actividades nuestra sucursal en el Bajío.

    +cardsprin('El procesamiento de endoscopios', './novedades/procesamiento-endoscopios.html')
      .card-body
        p El uso de los instrumentos endoscopicos es cada vez más común, y si bien han hecho más seguros los procedimienos quirurgicos, su desinfección presenta retos partículares y la comunidad de los profesionales de la salud buscan la mejor opción para garantizar la seguridad del paciente.
        a(href="./novedades/procesamiento-endoscopios.html")
          h4 El reto de garantizar su esterilidad.

    +cardsprin('Día Mundial de la Diabetes','./novedades/dia-diabetes.html')
      .card-body
        +foto('WDD-logo-date-ES-2048px.png', 'Día Mundial de la Diabetes')
        p Desde el 2009 el 14 de noviembre se celebra el Día Mundial de la Diabetes como parte de los esfuerzos difundir los efectos de esta enfermedad...
        a(href="./novedades/dia-diabetes.html")
          h4 Unete a las acciones del día.

    +cardsprin('Día Internacional de la Radiología','./novedades/dia-radiologia.html')
      .card-body
        +foto('rayosX.gif', 'Día Internacional de la Radiología')
        p El 8 de noviembre se celebra el descubrimiento de los rayos X y por consecuencia, el día Internacional de la Radiología...
        a(href="./novedades/dia-radiologia.html")
          h4 Conoce más de esta celebración.
        
    +cardsprin('Seminario de septiembre 2016')
      .card-body
        +foto('seminario-septiembre-2016.jpeg', 'Seminario septiembre')
        a(href="./eventos/seminario-septiembre-2016.html")
          h4 Más información aquí.
