extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  div
    h1.producto Lo sentimos, estamos en proceso de renovación de la página

  a(href="../")
    h2 Regresar...
