extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var noticia = 'Noticias'
  - var tituloPagina = "Blog de actualidades sobre esterilización hospitalaria y la imagenología médica en México y el mundo"
  - var descripcion = "Información técnica precisa sobre los avances y novedades en tecnología médica, imagenología, rayos X, esterilización, manejo de la CEyE, trazabilidad y validación de los procesos de esterilización. También publicamos información sobre los eventos de actualización en los que participamos o los que organizamos con especialistas nacionales e internacionales. Conoce sobre las alternativas a los sistemas de esterilización más conocidos como el Sterrad®, el VPro de Steris o el autoclave tradicional de vapor"
  
block append content
  +jumbo('Blog de Technodomus')

  .grid

    //- +cardsprin('Otros peróxidos usados en esterilización', './novedades/esterilizacion_baja_temperatura_parte3.html')
    //-   .card-body
    //-     p La segunda parte de la serie sobre métodos de esterilización de baja temperatura se concentra en los dos métodos de esterilización por peróxido de hidrógeno más usados en la actualidad. 
    //-     a(href="./novedades/esterilizacion_baja_temperatura_parte2.html" title="Cónoce mejor el método por peróxido de hidrógeno para definir si adapta mejor a las condiciones de tus cargas de esterilización")
    //-       h4 Conoce mejor los métodos de vapor de peróxido de hidrógeno y plasma de peróxido de hidrógeno.
    +cardsprin('Virus de transmisión aérea y calidad del aire', './novedades/esterilizacion_de_aire.html')
      .card-body
        <a title="" href=""><img width="100%" alt="" src=""></a>
        p La pandemia de COVID-19 ha renovado la preocupación en las enfermedades de transmisión aérea y los mecánismos para detener su propagación. Se ha discutido el papel del equipo de protección personal como los respiradores tipo N95 o las mascarillas y cubrebocas quirúrgicos, pero todos son herramientas que requieren del buen uso y participación de las personas. Otra opción es el uso de sistemas que eliminen los agentes infecciosos del aire, sistemas que también se usan para mejora la calidad del aire en general, reducir el impacto de contaminantes y la incidencia de alergías. Algunos de estos equipos tienen la capacidad de desinfectar el aire hasta obtener un aire prácticamente estéril que aumenta la seguridad de las personas en zonas de contacto con agentes infecciosos aéreos.
        a(href="./novedades/esterilizacion_de_aire.html")
          h4 Purificación y esterilización del aire para combatir al SARS-CoV2.

    +cardsprin('4 razones por las que usar indicadores químicos', './novedades/razones-para-usar-indicadores-quimico.html')
      .card-body
        <a title="" href=""><img width="100%" alt="" src=""></a>
        p El momento de validar un proceso de esterilización contamos con un aliado fundamental que muchas veces lo pasamos por alto por su aparente sencillez. Los indicadores químicos han evolucionado de simples tiras adhesivas con una tinta sensible al calor que viran al pasar por el autoclave a sistemas que indican con precisión si se cumplieron las condiciones críticas de esterilización, con tanta validez como un indicador biológico y que además pueden evaluar condiciones extremas de funcionamiento de los esterilizadores.
        a(href="./novedades/razones-para-usar-indicadores-quimico.html")
          h4 Más ventajas de los indicadores químicos.

    +cardsprin('¿Cuáles son las ventajas del peróxido de hidrógeno?', './novedades/esterilizacion_baja_temperatura_parte2.html')
      .card-body
        <a title="Diliff [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0/)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Plasma_lamp_touching.jpg"><img width="100%" alt="Plasma lamp touching" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Plasma_lamp_touching.jpg/256px-Plasma_lamp_touching.jpg"></a>
        p La segunda parte de la serie sobre métodos de esterilización de baja temperatura se concentra en los dos métodos de esterilización por peróxido de hidrógeno más usados en la actualidad. 
        a(href="./novedades/esterilizacion_baja_temperatura_parte2.html" title="Cónoce mejor el método por peróxido de hidrógeno para definir si adapta mejor a las condiciones de tus cargas de esterilización")
          h4 Conoce mejor los métodos de vapor de peróxido de hidrógeno y plasma de peróxido de hidrógeno.

   
    +cardsprin('Philips adquiere el negocio de TI de Carestream', './novedades/philips_adquiere_carestreamIT.html')
      .card-body
        +foto('philips.png', 'Philips líder mundial en tecnologías para la salud', 'Philips tendrá uno de los negocios más grandes de TI para radiología')
        p La compra del negocio de Sistemas de Información para el Cuidado de la Salud o Healthcare Information Systems (HCIS) de Carestream por parte de Philips generará una solución con mayor integración para los proveedores de servicios de salud.
        a(href="/novedades/philips_adquiere_carestreamIT.html" title="Philips adquire HCIS")
          h4 Más información... 
    
    +cardsprin('¿Cuál es el mejor sistema de esterilización de baja temperatura para mi?', './novedades/esterilizacion_baja_temperatura_parte1.html') 
      .card-body
        +foto('planta_irradiacion.jpg', 'La tecnología de radiación de rayos gamma es efectiva pero difícil de implementar', 'Planta de esterilización del ININ en Salazar, Estado de México')
        p En esta serie de artículos puedes conocer las características, alcances, ventajas y desventajas de los métodos de esterilización de baja temperatura
        a(href="./novedades/esterilizacion_baja_temperatura_parte1.html" title="Compara los métodos de baja temperatura para elegir la mejor opción de esterilización.")
          h4 Conoce mejor los métodos de baja temperatura

    +cardsprin('Mejora tus empaques "pouch" con un correcto sellado', './novedades/sellado.html')
      .card-body
        +foto('empaque-instrumental.jpg', 'Mejore el sellado del empaque con sencillos consejos', 'Empaque de instrumental')
        p El empaque es un punto crítico del proceso de esterilización ya que evita la reinfección del material. En este sentido, el sellado es esencial para que el empaque mantenga su integridad. En este artículo se mencionan algunas prácticas para mejorar el proceso de sellado.
        a(href="./novedades/sellado.html" title="Mejores prácicas de sellado")
          h4 Más información.

    +cardsprin('Virus de computo ataca al sector salud', './novedades/virus-salud.html')
      .card-body
        p Un virus de computo detectado en equipos en EUA, Europa y Asía tiene una alta prevalencia entre el sector salud y hace suponer que fue diseñado para atacar este tipo de usuarios.
        a(href="./novedades/virus-salud.html" title="Virus ataca al sector salud")
          h4 Más información.

    +cardsprin('Carestream Digital Fairs 2018', './eventos/digitalfairs.html')
      .card-body
        +foto('carestreamDigitalFairs.png', 'Carestream Digital Fairs 2018', 'Digital Fairs')
        p Los días 25 y 26 de abril Carestream nos va a sorprender con tecnologías útiles y novedosas para mejorar la calidad de los cuidados de la salud.
        a(href="./eventos/digitalfairs.html" title="Asiste a la Digital Fairs con nosotros")
          h4 Conoce más de este evento.

    +cardsprin('Tendencias en limpieza y esterilizacion', './eventos/seminario-abril-2018.html')
      .card-body
        +foto('seminariogke-2018.png', 'Seminario Internacional de Limpieza y Esterilización', 'Conoce las tendencias actuales para la esterilización en tu hospital')
        p El Dr. Kaiser impartió un seminario con información científica para entender y validar mejor los procesos de esterilización que se realizan en cualquier CEyE.
        a(href="./eventos/seminario-abril-2018.html" title='Reseña del Seminario sobre Tendencias en Limpieza y Esterilzación')
          h4 Lo más destacado del Seminario.

    +cardsprin('¿Puedo ahorrar con la esterilización con plasma?', './novedades/costos-plasma.html')
     .card-body
       +fotoch('/esterilizador-plasma-100.jpg', 'Esterilizadores que ahorran financieramente')
       p Generalmente se piensa que la esterilización por plasma es solo un gasto necesario, pero si se considera los ahorros que puede generar el menor desgaste en los equipos, puede que compense con creces la inversión.
       a(href="./novedades/costos-plasma.html" title='¿Cuánto puede ahorar la tecnología de esterilización por plasma?')
         h4 Cuanto puedes ahorrar con el plasma.

    +cardsprin('Congreso de la Sociedad Americana de Radiología 2017', './novedades/rsna2017.html')
     .card-body
       +fotoch('/imagenologia-monitor.jpeg', 'Actualidades desde la RSNA 2017')
       p Los radiólogos estadounidenses se reunieron para conocer los avances en imagenología destancando la evolución de los sistemas de inteligencia artificial para auxiliar las labores de imagenología.
       a(href="./novedades/rsna2017.html" title='RSNA2017')
         h4 Te contamos que paso en el evento

    +cardsprin('XVIII Congreso Nacional de Enfermería Quirúrgica', './eventos/congreso-enfermeria.html')
      .card-body
        +foto_ext(baseUrl+'images/validacion.jpg')
        p Las profesionales de la atención quirúrgica a nivel de enfermería se reunieron en Manzanillo Colima, y nos compartieron sus inquietudes sobre la importancia de la esterilización en los procesos quirúrgicos
        a(href="./eventos/congreso-enfermeria.html", title="Congreso de Enfermería Quirúrgica")
          h4 Technodomus comparte las ventajas de la esterilización por plasma

    +cardsprin('Día de la concientización sobre el cáncer de mama', './novedades/octubre2017.html')
      .card-body
        +foto_ext(baseUrl+'images/logo-octubre.png', 'Technodomus participa del mes de concientización del cáncer de mama')
        p El cáncer de mama es ya la principal causa de muertes por cáncer entre mujeres en nuestro país, aún es necesario fortalecer la cultura de la prevención
        a(href="./novedades/octubre2017.html")
          h4 Conoce más sobre el cáncer de mama y protégete
          
    +cardsprin('El procesamiento de endoscopios', './novedades/procesamiento-endoscopios.html')
      .card-body
        p El uso de los instrumentos endoscopicos es cada vez más común, y si bien han hecho más seguros los procedimientos quirúrgicos, su desinfección presenta retos particulares y la comunidad de los profesionales de la salud buscan la mejor opción para garantizar la seguridad del paciente.
        a(href="./novedades/procesamiento-endoscopios.html")
          h4 El reto de garantizar su esterilidad.

    +cardsprin('Día Mundial de la Diabetes','./novedades/dia-diabetes.html')
      .card-body
        +foto('WDD-logo-date-ES-2048px.png', 'Día Mundial de la Diabetes')
        p Desde el 2009 el 14 de noviembre se celebra el Día Mundial de la Diabetes como parte de los esfuerzos difundir los efectos de esta enfermedad...
        a(href="./novedades/dia-diabetes.html")
          h4 Únete a las acciones del día.

    +cardsprin('Día Internacional de la Radiología','./novedades/dia-radiologia.html')
      .card-body
        +foto('rayosX.gif', 'Día Internacional de la Radiología')
        p El 8 de noviembre se celebra el descubrimiento de los rayos X y por consecuencia, el día Internacional de la Radiología...
        a(href="./novedades/dia-radiologia.html")
          h4 Conoce más de esta celebración.
        
    +cardsprin('Seminario de septiembre 2016')
      .card-body
        +foto('seminario-septiembre-2016.jpeg', 'Seminario septiembre')
        a(href="./eventos/seminario-septiembre-2016.html")
          h4 Más información aquí.
