extends ./productos2.jade

block append config
  - var cardp = "card card-primary"
  - var imgUrl = '../images/'
  - var producto = 'en construcci칩n'
  - var bread = {Inicio: '/'} 
// Add extra stylesheets
block append stylesheets

block content
  +cabecera(producto, bread)
  img.construccion.responsive(src=baseUrl+"images/construccion.png", alt="en construcci칩n" height='150px')
  div
    h1.producto Lo sentimos, estamos en proceso de renovaci칩n de la p치gina
  
  a(href="../")
    h2 Regresar...
  

// Add extra scripts
block append scripts
