extends ./base

block append config
  - var cardp = "card card-primary"
  - var imgUrl = '../images/'
  - var bread = {Inicio: baseUrl}
// Add extra stylesheets
block append stylesheets

block content
 +cabecera(producto, bread)
  //- Provides layout level markup
  .layout-wrapper.productos
    block productos
    
// Add extra scripts
block append scripts
