// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/bootstrap/scss/bootstrap';
@import "node_modules/bootstrap-material-design/scss/bootstrap-material-design";
@import "src/_modules/navbar/navbar.scss";
@import "node_modeules/@fortawesome/fontawesome-free/scss";
@import "src/_modules/contacto/contacto";
@import 'src/_modules/footer/footer';
@import "src/_modules/navbar/navbar.scss";
@import "parallax";
@import 'variables';
// Import Modules
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Open+Sans:600,300|Oswald:300);

@import "mixins";

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: $color3;
}

html {
  font-size: 16px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: $colorfondo;
  overflow-y: scroll;
}

body {
  background-color: $colorfondo;
}
// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

main{
  margin-top: 95px;
  .container-fluid {
    padding: 5px 0;
    margin-bottom: 20px;
  }
}

img {
  .img-productos {
    max-width: 200px;
    height: 100%;
  }
  .svg {
    width: 100%
  }
  &[alt="Kaiser"] {
    float: right;
    padding: 7px;
  }
}

.center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }


#banner-inicio {
  padding-top: 2em;
  padding-bottom: 3em;
  padding-left: 3em;
  background-color: $color2;
  color: $color5;
  width: 100%;
  margin-left: -1.1em;
  margin-right: 1em;
}

.section {
  display: block;
}

.caja-contenido {
  display: block;
  flex-flow: row;
  margin-left: 5rem;
  margin-top: 1rem;
  @media screen and (max-width: $bp-sidenav) {
    margin-left: 0;
  }
}

.caja-contenido-footer {
  display: block;
  padding: 0 2rem;
  flex-flow: row;
  margin-top: 1rem;
}

.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

.col-sm-6 {
  padding-left: 7px;
  padding-right: 7px;
}

.col-md-4 {
  padding-left: 15px;
  padding-right: 15px;
}

#intro {
  position: relative;
  vertical-align: bottom;
  width: 40%;
  p {
    color: transparentize($color5, 0.5);
  }
}

//carrusel
.carousel {
  margin-bottom: 1rem;
  img {
    opacity: 0.8;
    width: 100%;
  }
  p {
    font-size: 2rem;
    color: $color2;
    text-shadow: 2px 2px 3px black;
    @media screen and (max-width: $bp-m) {
      font-size: 1rem;
    }
  }
}

.carousel-caption {
  z-index: 0;
  left: 5%;
  right: 5%;
}

//botones

.botones{
  margin-top: 5px;
  display: inline-block;
  &.boton-flotante {
    display: flex;
    position: fixed;
    right: 1%;
    top: 90%;
    z-index: 10;
  }

  .boton{
    margin: 1px auto;
    transition: all .3s;
    overflow: hidden;
    cursor: pointer;
  }
  .boton-avanza {
    @include boton-exp($color1, '');
    position: relative;
    top: -30px;
    left: -20px;
  }

  .boton-tel {
    @include boton($color1);
    &:hover {
    }
  }

  .boton-cotiza {
    @include boton-exp($color1, "Cotiza aquí");
    &:hover {
    }
  }

  .boton-mail {
    @include boton($color4);
    line-height: 46px;
    &:hover {
    }
  }

  .boton-fb{
    @include boton($color-faceb);
  }
  .boton-fb:hover{
  }

  .boton-tw{
    @include boton($color-twitter);
  }
  .boton-tw:hover{
  }

  .boton-go{
    @include boton($color-goo);
  }
  .boton-go:hover{
  }
}

//cards
.card {
  display: inline-block;
  margin: 10px 8px 10px 8px;
  img {
    padding-bottom: 1rem;
  }
  & table {
    width: 100%;
  }
  @media screen {
    width: 100%;
  }
  @media screen and (min-width: $bp-m) {
    width: 45%;
  }
  @media screen and (min-width: $bp-l) {
    width: 31%;
  }
}

.card-2x {
  width: 90%;
  padding: 30px;
  @media screen and (max-width: $bp-m) {
    padding: 10px;
    width: 98%;
    align-self: center;
  }
}

.card-3x {
  width: 90%;
}

.card-15x {
  @media screen and (max-width: $bp-s) {
    width: 100%;
  }
  @media screen and (min-width: $bp-l) {
    width: 47%;
  }
}

.card-llena {
  width: auto;
}

.card-primary {
  .card-heading {
    background: $color1;
    line-height: normal;
    a {
      color: $color2;
    }
    h2 {
      color: $color3;
    }
  }
}

.card-heading {
  padding: 10px 5px;
  text-align: center;

  img {
    width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  &#{&} {
    color: $color2;
  }
  &#{&}:hover {
    background-color: $contraste;
    color: $color2;
    & a {
      color: $color2;
    }
  }
}

.card-principal {
  .card-heading {
    background-color: $color1;
    color: $color2;
    padding: 0 0 15px 0;
    a {
      color: $color2;
    }
    h2 {
      color: $color3;
    }
  }
}

//Estilos de fuentes

.titulo {
  @include titulos($titulo, $color3);
  line-height: 0.6em;
  @media screen and (min-width: $bp-m) {
    @include titulos(2rem, $color3);
    line-height: 0.2rem;
  }
  @media screen and (min-width: $bp-s) {
    @include titulos(1.5rem, $color3);
  }
}

.subtitulo {
  @include titulos($subtitulo, $color5);
}

.tituloPagina {
  @include enfasis($titulo, $color1);
}

h1 {
  @include titulos($titulo, $color3);
  line-height: 0.9em;
  @media screen and (max-width: $bp-m) {
    @include titulos(2.2rem, $color3);
    line-height: 3rem;
  }
  @media screen and (max-width: $bp-s) {
    @include titulos(2.2rem, $color3);
  }
  &.cabecera {
    color: darken($color1, 10%);;
  }

  &.producto {
    color: darken($color5, 25%);
    padding-top: 20px;
  }
}

h2 {
  @include titulos(3rem, desaturate($color1, 0.5));
  @media screen and (max-width: $bp-s) {
    @include titulos(2.5rem, desaturate($color1, 0.5));
  }
}

h3 {
  @include enfasis(3rem, $color5);
}

h4 {
  @include titulos($subtitulo, $color5);
  @media screen and (max-width: $bp-m) {
    @include titulos(2rem, $color5);
  }
  @media screen and (max-width: $bp-s) {
    @include titulos(1.3rem, $color5);
  }
}

.parrafo {
  margin: 4rem 4rem;
}

p {
  font-size: 1.1em;
  @media screen and (max-width: $bp-m) {
    font-size: 1em;
  }
}

a {
  &:focus {
    text-decoration: none;
    color: $color4;
  }
  &:hover {
    text-decoration: none;
    color: $color4;
  }
}

.fa-2x {
  vertical-align: middle;
}

//Iframes responsivos para incertar secciones de código

.contenedor-iframes {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 152%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//Tablas
table {
  td {
    padding-left: 5px;
    padding-right: 5px;
  }
  tr:nth-child(even) {
    background-color: lighten($color5, 20%);;
    color: $color3;
  }
  tr:nth-child(odd) {
    background-color: $color3;
  }
  thead th {
    background-color: $color1;
    color: $color2;
    padding: 5px;
  }
}

//Formularios

.form-control {
  .form-group .form-control {
    border: 1px solid #ccc;
    background-color: #fff;
  }
}

textarea {
  border-width: 2px;
  border-color: #ccc;
  font-style: 16px;
  line-height: 1.4;
  width: 100%;
  height: auto;
};

.form-group {
  & label {
    color: $color5;
  }
}

//Jumbotron
.jumbotron.tituloJumbo {
  padding: 1rem;
  background-color: $color2;
  box-shadow: 1px 2px 9px -2px rgba(25, 25, 25, 0.7);
}

//Estilo de los post del blog
article {
  h1 {
    color: $color1;
  }
}

//Transitorios
.construccion {
  position: fixed;
  right: 5px;
  top: 40px;
  z-index: 3000;
}


//Eliminar elementos en vistas de movil
.soloescri {
  @media screen and (max-width: $bp-m) {
    display: none;
  }
}

.solomob {
  @media screen and (min-width: $bp-m) {
    display: none;
  }
}

.snackbar {
  visibility: hidden;
  min-width: 500px;
  margin-left: 250px; /*Se divide el ancho mínimo entre dos*/
  background-color: color4;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  &.show {
    visibility: visible;
    animation: fadein 0.5s fadeout 0.5s 2.5s;
  }
}

@keyframes fadein {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

// Estilos para las formas, especialmente los placeholders
input::placeholder {
  color: $color1-50;
  line-height: 25px;
}

input.btn{
  margin: 1rem;
}

textarea {
  border: 1px solid $color2;
  outline: none;
}
// Estilos para generar muestrarios de color
#muestrario {
  flex-grow: 1;
  padding: 0.2em;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

#muestrario .caja {
  height: 20px;
  width: 20px;
  margin: 3px;
}

.gris {
  background-color: grey;
}

.amarillo {
  background-color: yellow;
}

.naranja {
  background-color: orange;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.azul {
  background-color: blue;
}

.negro {
  background-color: black;
}

.gris-obscuro {
  background-color: #444;
}



//Final
