//Variables
$color1: #385988; //rgba(21, 81, 150, 100)
$color2: #f1f1f1; //rgba(135, 135, 133, 100)
$color3: #fff; //rgba(209, 204, 220, 100)
$color4: #4ecdc4; //rgba(66, 76, 85, 100)
$color5: #878785; //rgba(245, 237, 240, 100)
$color1-50: rgba(21, 81, 150, 0.5);
$colorfondo: rgba(245, 237, 240, 0.7);
$color-twitter: #4da7de;
$color-faceb: #3e5b98;
$color-goo: #d93e2d;
$contraste: #FFA630;

// Breakpoints
$bp-s: 420px;
$bp-m: 768px;
$bp-sidenav: 840px;
$bp-l: 1100px;
$grid-float-breakpoint: 875px;

// tipografías
$titulo: 4rem;
$subtitulo: 2rem;
$textos: "\"Open Sans\", sans-serif";

//objetos
$boton-ancho: 50px;
$boton-alto: 50px;
$boton-ancho-hover: 160px;
