extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Esterilizadores de Alta Temperatura'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Esterilizadores: './','Alta Temperatura': '#'}  
  
block content
  +cabecera(producto, bread)
  
  .grid
    +panelprod("Serie HS66","./vaporHS66.html")
      .panel-body
        +foto('esterilizador-serieHS66-Getinge.jpg','esterilizador serie HS66')
        :markdown
          #### Esterilizadores de vapor compactos
          Los esterilizadores compactos y versatiles que combinan alta capacidad y rentabilidad.
      .panel-footer
        a(href="./vaporHS66.html") Más detalles del equipo

    +panelprod("Serie 400/500 HC","./vapor400.html")
      .panel-body
        +foto('esterilizadorVapor-serie400-500hcGetinge.jpeg','esterilizador serie 400')
        :markdown
          #### Esterilizadores de vapor
          Un esterilizador flexible y fácil de usar.
      .panel-footer
        a(href="./vapor400.html") Más detalles del equipo

    +panelprod("Serie 633 HC","./vapor633.html")
      .panel-body
        +foto('esterilizadorVapor-serie633hcGetinge.jpeg','esterilizador serie 633')
        :markdown
          #### Esterilizadores de vapor
          Variedad de ciclos de esterilización que permiten adaptar al equipo a su flujo de trabajo.
      .panel-footer
        a(href="./vapor633.html") Más detalles del equipo
        
    +panelprod("Serie 700 HC-E","./vapor700.html")
      .panel-body
        +foto('esterilizadorVapor-serie700hc-eGetinge.jpeg','esterilizador serie 700')
        :markdown
          #### Esterilizadores de vapor
          Equipos de alta capacidad y con prestaciones superiores, como cámaras y chaquetas de acero inoxidable 316L.  
      .panel-footer
        a(href="./vapor700.html") Más detalles del equipo
