extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Esterilizadores de Baja Temperatura'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './', 'Baja Temperatura': '#'}  
  
block content
  +cabecera(producto, bread)
  
  .grid
    +panelprod(producto)
      .panel-body
      
    +panelsubp('Esterilizadores de plasma de peróxido de hidrogeno','.7')
