extends ../../_layouts/productos2

block append config
  - var baseUrl = './../../'
  - var urlLinks = '/esterilizacion/esterilizacion'
  - var producto = "Esterilizadores"
  - var tituloPagina = 'Technodomus | Soluciones en ' + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Esterilizadores: './'}  
  
block append content

  .grid
    +cardprin('Esterilizadores')
      .card-body
        p El proceso de esterilización involucra medios físicos o químicos que son capaces de destruir las formas de vida microbianas. 
        p Para hablar de esterilización y no de una simple desinfección, el proceso debe de acabar con la viabildiad de las esporas y otras formas de vida latente de los microorganismos.
        p De este proceso depende la seguridad de cualquier actividad hospitalaria. Por ello le ofrecemos sistemas que se adaptan a sus necesidades, condiciones y flujos de trabajo.
        
    +carddoble('Baja temperatura - Plasma','./plasma.html')
      .card-body
        +foto('esterilizador-plasma-100-carrousel.jpg','esterilizadora de plasma Laoken')
        h3 Peróxido de hidrogeno
        p La esterilización por plasma es un proceso que somete al instrumental al contacto con plasma de peróxido de hidrógeno a baja temperatura. El plasma evita la exposición del equipo metálico a vapores corrosivos y a diferencia de otros métodos de baja temperatura, su único residuo es vapor de agua. 
      .card-footer
        a(href="./plasma.html") Más sobre los equipos de esterilización de plasma.

    +cardprod('Solución integral de esterilización','./solucion-integral-esteilizacion.html')
      .card-body
        +foto('esterilizadorVapor-serie400-500hcGetinge.jpeg','esterilizadora Serie 400 de Getinge','200px')
        h4 Seguridad para los pacientes e instrumental, a un costo accesible.
        p 
      .card-footer
        a(href="./solucion-integral-esterilizacion.html") Conoce nuestra solución integral.
        
    +cardprod('Alta Temperatura - Vapor','./alta-temperatura.html')
      .card-body
        +foto('esterilizadorVapor-serie400-500hcGetinge.jpeg','esterilizadora Serie 400 de Getinge','200px')
        h3 Vapor de agua a presión
        p Considerado por muchos el estándar en la esterilización, el vapor sigue siendo una opción viable siempre que el material a esterilizar no sea sensible al calor.
      .card-footer
        a(href= "./alta-temperatura.html" ) Equipos Gettinge de alta temperatura a base de vapor.

    +cardprod('Baja Temperatura - Formaldehído','./baja-temperatura.html')
      .card-body
        +foto('esterilizador-formal-HS66TurboCombiGetinge.jpeg', 'esterilizadora de vapor frio de formaldehído','200px')(class="img-productos")
        h3 Vapor de formaldehído
        p Un método efectivo para esterilizar material sensible a la temperatura, de eficacia probada y funcionamiento sencillo que lo hacen una alternativa robusta para la esterilización de alta temperatura.
      .card-footer
        a(href="./baja-temperatura.html") Conozca más de los equipos de vapor de formaldehido.
