extends ../../_layouts/productos2

block append config
  - var baseUrl = './../../'
  - var urlLinks = '/esterilizacion/esterilizacion'
  - var producto = "Esterilizadores"
  - var tituloPagina = 'Technodomus | Soluciones en ' + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Esterilizadores: './'}  
  
block append content

  .grid
    +cardprin('Esterilizadores')
      .card-body
        p El proceso de esterilización involucra medios físicos o químicos que son capaces de destruir las formas de vida microbianas. 
        p Para hablar de esterilización y no de una simple desinfección, el proceso debe de acabar con la viabildiad de las esporas y otras formas de vida latente de los microorganismos.
        p De este proceso depende la seguridad de cualquier actividad hospitalaria. Por ello le ofrecemos sistemas que se adaptan a sus necesidades, condiciones y flujos de trabajo.
        
    +cardprod('Baja temperatura - Plasma','./plasma.html')
      .card-body
        +foto('esterilizador-plasma-100-carrousel.jpg','esterilizadora de plasma Laoken')
        h3 Peróxido de hidrogeno
        p La esterilización por plasma es un proceso que somete al instrumental al contacto con plasma de peróxido de hidrógeno a baja temperatura. El plasma evita la exposición del equipo metálico a vapores corrosivos y a diferencia de otros métodos de baja temperatura, su único residuo es vapor de agua. 
      .card-footer
        a(href="./plasma.html") Más sobre los equipos de esterilización de plasma.

    +cardprod('Solución integral de esterilización','./solucion-integral-esterilizacion.html')
      .card-body
        +foto('camara_esterilizacion.png','Equipo e insumos en una solución a precio rentable')
        h4 Seguridad para los pacientes e instrumental, a un costo accesible.
        p Imagina contar con un esterilizador a tu disposición, los consumibles necesarios para su uso y sin tener que preocuparte por el servicio técnico. Esa es nuestra propuesta de servicio integral, un equipo de esterilización por plasma en el que solo pagas lo que útilizas, con la mejor tecnología e insumos, y con atención en menos de 24 horas en caso de falla.
      .card-footer
        a(href="./solucion-integral-esterilizacion.html") Conoce nuestra solución integral.
