extends ../../_layouts/productos2

block append config
  - var baseUrl = './../../'
  - var urlLinks = '/esterilizacion/esterilizacion/plasma.html'
  - var producto = "Esterilizador de Plasma LK/MJG-100"
  - var tituloPagina = 'Technodomus | ' + producto
  - var descripcion = "Un equipo de esterilización con plasma de peróxido de hidrógeno con un equilibrio entre capacidad y espacio ocupado. 100 L para esterilizar su equipo más delicado"
  - var bread = {Inicio: baseUrl, Esterilización: './../', Esterilizadores: './', Plasma: "./plasma.html", "LK/MJG-100":"#"}  

block append content

  .grid
    +cardprin(producto)
      .card-body
        +foto('esterilizador-plasma-100-laoken.png', 'Esterilizador Laoken de 100L', 'Plasma de 100L')
        :markdown
          Un equipo equilibrado con una buena capacidad y diseño contenido. Su cámara con más de 100 L de capacidad permite la esterilización de varios sets de endoscopia de manera simultanea.
          
          Se puede configurar con una o dos puertas para su uso en una CEyE cerrada. 
          
          Posee una alta eficiencia de esterilización en lúmenes que le permite esterilizar el interior de tubos de acero inóxidable de un solo canal de **500 mm** de largo y un ancho de 1 mm. En canales de polietileno o teflón puede alcanzar hasta el fondo de un tubo de **4000 mm**.
        +laoken
          
    +cardprod("Características")
      .card-body
        :markdown
          * Construcción de la cámara de esterilización en aluminio
          * Dos niveles de repisas corredizas
          * **Incubador** para indicadores biológicos con capacidad de 8 pruebas simultaneas
          * Pantalla táctil de 7 pulgadas
          * Impresora térmica incluida
          * 32 Mb de memoría interna para registro de los ciclos realizados
          * Puerta vertical automática que se puede controlar desde el card central o con interruptores de pedal
          
          ### Sistema de casetes
          * Casetes que garantizan una cantidad uniforme de peróxido en cada ciclo.
          * Cada casete puede ser usado para 3 ciclos estandar o 6 ciclos cortos.
          
          ### Requisitos de instalación
          * Area mínima de 1.4 x 1.4 x 2 m
          * **No requiere ventilación**
          * Conexión electrica de tres fases. 
          * **No requiere conexiones de drenaje o agua corriente.**
          
    +cardsubp('Solución integral', './solucion-integral-esterilizacion.html')
      .card-body
        :markdown
          En **Technodomus** nos interesa que cuente con las mejores herramientas tecnologicas para la salud de sus pacientes. Por ello le ofrecemos nuestro equipo de esterilización en la modalidad de servicio integral que incluye:
          
          * Insumos del Esterilizador
          * [Materiales de empaque](./../empaque/tyvek.html) adecuados
          * Insumos de trazabilidad y [validación](./../validacion/indicadores-integradores.html)
          * El [equipo de trazabiliad manual](./../validacion/documentacion.html) y sellado
          * Servicio técnico permanente
          * El mejor precio por ciclo de esterilización
          
          [Contactenos](./../../cotiza/) para que conozca más detalles de esta modalidad de servicio.
    
    +cardfoto('camara_esterilizacion.png', 'Cámara de 100 L con dos estantes', 'Amplia cámara en configuración rectangular, menos interferencias y más espacio')
    
    +cardprod('Validación','../validacion/indicadores-biologicos.html')
      .card-body
        p Garantice la validez de sus procesos de esterilización con la ayuda de <a href="../validacion/indicadores-quimicos.html">indicadores químicos</a> e <a href="../validacion/indicadores-biologicos.html">indicadores biologicos</a> adecuados para plasma.

        +fotoch('indicador_biol_plasma.png', 'La incubadora incorporada permite realizar la validación de los procesos', 'Los indicadores biológicos contribuyen la validación del proceso')

    +carddoble("Datos técnicos")
      .card-body
        :marked
          Puertas | Montaje | Volumen | Dimensiones (mm) | Temperatura de operación | Duración del ciclo
          :------:|:-------:|:-------:|:----------------:|:------------------------:|:-----------------:
          1 o 2|En gabinete o empotrado|100 L|800x1100x1730|33 a 55 °C|55 min (Estandar) 31 min (Corto)
