extends ../../_layouts/productos

block append config
  - var baseUrl = './../../'
  - var urlLinks = '/esterilizacion/esterilizacion/plasma.html'
  - var producto = "Esterilizadores de Plasma"
  - var tituloPagina = 'Technodomus | Soluciones en ' + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Esterilizadores: './', Plasma: "#"}  

block content
  +cabecera(producto, bread) 

  .grid
    +cardprin("Seguridad y cuidado para su equipo")
      .card-body
        :markdown
          La tecnología de esterilización por plasma es una de las mas efectivas para el tratamiento de equipo sensible al calor o a la humedad, como endoscopios, lentes, instrumentos ópticos, instrumentos quirúrgicos de precisión o de metales suaves. Además permite esterilizar en las cavidades más pequeñas, penetrando en lúmenes de hasta un milimetro de diámetro interno y eliminando microorgánismos de todos los rincones de su equipo.
          Los equipos que le ofrecemos poseen tecnología avanzada que les permite lograr tiempos de procesamiento eficientes y alta calidad en el proceso, con la ventaja adicional de una interfaz de usuario fácil de usar que reduce la incidencia de ciclos rechazados y por lo mismo, el desperdicio de tiempo e insumos.
    
    +cardprod("Esterilizador LK/MJG-50","./plasma-30L.html")
      .card-body
        +foto('esterilizador-plasma-30l.png', "Esterilizador de escritorio Laoken")
        :markdown
          Una excelente opción cuando se requiere un equipo compacto y facil de instalar en sus espacios actuales. La mejor opción para contar con un esterilizadro capaz en su clínica o incluso dentro del mismo quirófano.
      .card-footer
        a(href="./plasma-30L.html") Conozca sus características técnicas.
          
    +cardprod("Esterilizador LK/MJG-100","./plasma-100L.html")
      .card-body
        +foto('esterilizador-plasma-100-laoken.png', "Esterilizador Laoken de 100L")
        :markdown
          Un equipo equilibrado con una buena capacidad y diseño contenido. Su cámara con más de 100 L de capacidad permite la esterilización de varios sets de instrumental de manera simultanea. Además cuenta con una incubadora de indicadores biológicos incorporada lo que facilita los procesos de validación de la carga.
      .card-footer
        a(href="./plasma-100L.html") Más información del esterilizador.
