extends ../../_layouts/productos

block append config
  - var baseUrl = './../../'
  - var urlLinks = '/esterilizacion/esterilizacion/plasma.html'
  - var producto = "Esterilizador de Plasma LK/MJG-200"
  - var tituloPagina = 'Technodomus | Soluciones en ' + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Esterilizadores: './', Plasma: "./plasma.html", "LK/MJG-200":"#"}  

block content
  +cabecera(producto, bread) 

  .grid
          
    +paneldoble("Esterilizador LK/MJG-100")
      .panel-body
        +foto('esterilizador-plasma-100.jpg', "Esterilizador Laoken de 100L")
        :markdown
          Un equipo equilibrado con una buena capacidad y diseño contenido. Su cámara con más de 100 L de capacidad permite la esterilziación 
        +laoken
        :marked
          Puertas | Montaje | Volumen | Dimensiones (mm) | Temperatura de operación | Duración del ciclo
          :------:|:-------:|:-------:|:----------------:|:------------------------:|:-----------------:
          1 o 2|En gabinete o emptrado|100 L|800x1100x1730|33 a 55°C|55 min
