extends ../../_layouts/productos-conchat

block append config
  - var baseUrl = './../../'
  - var urlLinks = '/esterilizacion/esterilizacion/plasma.html'
  - var producto = "Solución integral de esterilización por plasma"
  - var tituloPagina = 'Technodomus | ' + producto
  - var descripcion = "Un equipo de esterilización con plasma de peróxido de hidrógeno a su disposición con todos los consumibles y equipos adicionales necesarios para su operación."
  - var bread = {Inicio: baseUrl, Esterilización: './../', Esterilizadores: './', Plasma: "./plasma.html", 'Solución integral':"#"}

block append content

  .grid
    +cardprin('Solución Integral')
      .card-body
        :marked
          La **Solución integral de esterilización por plasma** que le ofrecemos le permite tener en un sólo paquete un equipo de esterilización de baja temperatura con todos los insumos necesarios para su operación de acuerdo a las prácticas más estrictas.
          
          Adicionalmente, cuenta con el respaldo permanente del servicio técnico de Technodomus que le ofrece solución a cualquier problema técnico en menos de **24 Horas** para que siga sus flujos de trabajo con tranquilidad.
          
          Todos los insumos que incluye la solución son de primera calidad, materiales de embalaje sin derivados de la celulosa, e indicadores para la validación y seguimiento de todo el proceso.
          
          Una selladora y un sistema de validación semiautomático completan la solución permtiendo tomar todas la ventajas de los insumos y del sistema de esterilización.
          
    +cardprod('¿Qué incluye la solución integral?')
      .card-body
        :markdown
          + [Esterilizador de plasma de baja temperatura Laoken con cámara de 100 L de capacidad](./plasma-100L.html).
          + [Selladora de empaques para empaque mixto de Tyvek y Mylar.](../empaque/selladora.html)
          + [Pistola etiquetadora para trazabilidad semiautomática del proceso de esterilización.](../validacion/documentacion.html)
          + [Insumos de empaque especiales, a base de fibras sínteticas.](../empaque/tyvek.html)
          + [Indicadores químicos tipo V.](../validacion/indicadores-integradores.html)
          + [Indicadores de proceso en cinta adesiva.](../validacion/indicadores-proceso.html)
          + [Indicadores biológicos autocontenidos.](../validacion/indicadores-biologicos.html)
    
    +cardfoto('empaque.jpg', 'El servicio integral incluye empaques adecuados', 'Empaque mixto', '../empaque/tyvek.html')
    +cardfoto('esterilizacion-usuario.png', 'Un esterilizador de plasma disponible siempre', 'Esterilizador de plasma', './plasma-100L.html')
    +cardfoto('trazabilidad-manual.png', 'Incluye equipo de trazabilidad semiautomática', 'Etiquetadora de trazabilidad', '../validacion/documentacion.html')
    +cardfoto('validacion-indicadores-autocontenidos.png', 'También se incluyen indicadores biológicos', 'Indicadores biológicos autocontenidos', '../validacion/indicadores-biologicos.html')
