extends ../../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../../'
  - var producto = 'Unidades de Rayos X'
  - var tituloPagina = "Technodomus | " + producto
  - var bread = {Inicio: baseUrl, Imagenología: './../../', 'Radiología Digital': './../', 'unidades de Rayos X' :'./'}  

block append content

  .grid
    +panelprod(producto)
      .panel-body
        +foto('unidades-drx-evolution.png','DRX Evolution')