extends ../../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../../'
  - var producto = 'DRX Evolution'
  - var tituloPagina = "Technodomus | " + producto
  - var bread = {Inicio: baseUrl, Imagenología: './../../', 'Radiología Digital': './../', 'Unidades de Rayos X' :'./'}
  - var descripcion = "Un sistema de radiología digital versatil con componentes modulares y que se puede adaptar a sus condicones de trabajo, para usar detectores portatiles e inlambricos para estudios de imagenologia rayos x"

block append content

  .grid
    +cardprod(producto)
      .card-body
        +foto('unidades-drx-evolution.png','DRX Evolution')
        :markdown
          El sistema de sala de radiología Carestream Evolution es un sistema de radiología digital versátil que utiliza componentes modulares y configurables para adaptarse a su espacio de trabajo, a su flujo de trabajo y a su presupuesto. 

          Realice una amplia variedad de exámenes radiográficos generales con una comodidad, productividad y confort para el paciente.

          Con los [detectores DRX](./../input-digital/sistema-drx.html) portátiles e inalámbricos, puede cambiar hoy mismo a una sala de rayos X digital con tres configuraciones (Automática, Híbrida y Standard-Q) que puede actualizarse para adecuarse a sus necesidades del mañana.

          Descargue el [folleto del equipo](http://www.carestream.com.mx/Brochure-DRX-Evolution.pdf
          )
        +carestream
    
    +cardsubp('Características')
      .card-body
        +foto('unidades-evolution-usos.png', 'DRX Evolution en uso')
        :markdown
          + Iluminación LED que mejora la funcionalidad y estética del equipo.
          + Tubo superior automatizado.
          + Gran flexibilidad gracias a su columna extendida.
          + Generador Carestream de alto desempeño.
          + Mesa para colocar pacientes de hasta 320 kg de peso.
          + Diseño pensado en la inovación constante que permitira adaptar aplicaciones de imagenología avanzadas.

          \* Algunas caracteristicas son opcionales.

    +cardsubp('Beneficios')
      .card-body
        +foto('unidades-evolution-uso2.png', 'DRX Evolution en uso')
        :markdown
          + Detectores fijos o inalámbricos con calidad de imagen excepcional
          + Software EVP que aumenta la látitud de la imagen y proporciona un alto contraste. Además es adaptable a diferentes especialidades.
          + Eliga uno o más detectores que permiten realizar una amplia variedad de estudios, incluidos la radiología sobre tablero y de gran formato.
          + Imágenes listas en cuestión de segundos.
          + Consola de control compacta con todas las funciones.
          + Autoposicionamiento que permite configuraciones rápidas y precisas.
