extends ../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Documentación'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Validación: './', 'Documentación': '#'}  
  
block append content
  
  .grid
    +cardprod("Sistema de trazabilidad manual")
      .card-body
        :markdown
          Nuestro sistema de trazabilidad manual consiste en una pistola de etiquetado, que permite identificar los paquetes a esterilizar antes de se procesado, al salir de servicio de esterilización, en la sala de operaciones y después de su uso. 
          Con ella es posible imprimir hasta 3 renglones para documentar los paquetes con la siguiente información: Equipo esterilizador usado, lote, iniciales de la persona responsable, fecha de procesamiento y fecha de caducidad.
          Las etiquetas del sistema poseen doble adhesivo lo que permite usarlas como evidencia en una hoja de cirugía segura. También incorpora indicadores de proceso para vapor o plasma de peróxido de hidrógeno.
        
        +gke

        :marked
          No. de Artículo | Descripción 
          :--------------:|:-----------:
          240-850 | Pistola para la impresión de etiquetas, alfanumérica.
          240-883 | Etiqueta para documentación de paquetes con pistola de impresión con doble adhesivo e indicador de vapor. Caja con 4 rollos
          244-881 | Etiqueta para documentación de paquetes con pistola de impresión con doble adhesivo e indicador de plasma. Caja con 2 rollos.

      .card-footer
        a(href="http://www.gke.eu/es/hand-labelling-device-with-labels-es.html?file=files/gke_2013/content/en/downloads/Data%20sheets/Chemical%20indicators/Documentation%20system.pdf") Ficha técnica del producto.

    +cardprod('Etiquetadora de trazabilidad manual')
      .card-body
        +foto('validacion-etiquetadora2.png', 'Pistola etiquetadora', 'Pistola etiquetadora que permite la trazabilidad manual del su instrumental al procesarlo para esterilización')
