extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Validación'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Validación: './'}  
  
block content
  +cabecera(producto, bread)

  .grid
    +panelprin(producto)
      .panel-body
        +foto('validacion.jpg', 'Validación')
        :marked
          No basta con realizar un proceso de esterilización, hay que validar que este haya sido efectivo. Esto incluye, monitorear todo el proceso, observando las variables criticas para comprobar que se cumplan los estándares y detectar fallas a tiempo.
          Por otro lado, al finalizar las etapas o el proceso completo, se debe contar con indicadores de que se lograron las condiciones adecuadas.
          En ambos casos, contamos con las herramientas necesarias para validar sus procesos de esterilización.
          > La validación promueve el control de infecciones, garantiza la calidad del proceso de esterilización y la seguridad del paciente.
    
    +panelprod('Indicadores Biológicos', './indicadores-biologicos.html')
      .panel-body
        +foto('validacion-indicadores-autocontenidos.png', 'Indicadores biológicos')
        p Dispositivos inoculados con esporas de microorganismos que después del proceso de esterilización son incubados para verificar que el proceso logro hacerlas inviables. El hecho de que trabaje con esporas, las estructuras vivas más resistentes, lo hace un método veráz para confirmar la efectividad del proceso de esterilización y poder realizar controles en conjunto con los sistemas de indicadores químicos.
      .panel-footer
          a(href= "./indicadores-biologicos.html") Una completa línea de indicadores biológicos.
      
    +panelprod('Indicadores Químicos', './indicadores-quimicos.html')
      .panel-body
        +foto('validacion-cinta-testigo.jpg', 'Indicadores químicos')
        p Sustancias que cambian de color o estado cuando son expuestos a niveles críticos de una o más variables del proceso de esterilización, permitiendo conocer si estas alcanzaron su nivel optimo. Son prácticos y faciles de implementar, ya que incluso muchos empaques ya tienen indicadores de origen. Su correcta selección puede ser vital para alcanzar niveles adecuados de esterlización.
      .panel-footer
        a(href= "./indicadores-quimicos.html") Conozca más de nuestros indicadores químicos.
        
    +panelprod('Indicadores de lavado y sellado', './indicadores-lavado.html')
      .panel-body
        +foto('validacion-indicadores-lavado.png','Indicadores de proceso de lavado')
        p El lavado involucra el manejo de instrumental con residuos orgánicos, por lo que es conveniente contar con indicadores de se logró un adecuado nivel de eliminación, que permita el manejo seguro del material.
      .panel-footer
        a(href="./indicadores-lavado.html") Explore las opciones de indicadores de lavado.
        
    +panelprod('Sistemas de documentación', './documentacion.html')
      .panel-body
        +foto('validacion-etiquetadora.png', 'Pistola etiquetadora')
        :markdown
          El sistema consiste en una pistola de etiquetado, que permite identificar los paquetes a esterilizar. Con ella es posible imprimir hasta 3 renglones para documentar los paquetes con la siguiente información: Esterilizador, lote, iniciales de la persona responsable, fecha de procesamiento y fecha de caducidad.
          Las etiquetas del sistema poseen doble adhesivo e indicadores para vapor y plasma de peróxido de hidrogeno
      .panel-footer
        a(href="./documentacion.html") Más detalles del sistema de documentación.
      
