extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Indicadores Químicos'
  - var tituloPagina = "Technodomus | Soluciones en  " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Validación: './', 'Indicadores Químicos': '#'}  
  
block content
  +cabecera(producto, bread)
  
  .grid
    +panelmax('Empleo de los indicadores químicos')
      .panel-body
        :marked
          El monitoreo y validación del proceso de esterilziación requiere verificar que se cumplieron las condiciones críticas en las que los patogenos fueron eliminados. Para ello, se pueden emplear:
          
          * **Controles físicos** como termómetros, barómetros, sensores de carga, u otros elementos que verifican que se hayan alcanzado los niveles optimos en las variables críticas dentro del equipo.
          * **Indicadores químicos**, sustancias que cambian de color o estado cuando se exponen a los niveles adecuados de una o más de las variables críticas. Para facilitar su manejo, los indicadores se administran en dispositivos contenedores. 
          
          ### Clasificación de los indicadores químicos 
          De acuerdo a la norma ISO 11140-1, los indicadores químicos se clásifican como:
          
          Clase | Función | Descripción | Ejemplo
          :----:|---------|-------------|--------
          I|Indicadores de proceso|Nos indican que el artículo en el que se aplican ha pasado ya por el proceso de esterilización|[Cintas testigo](./cinta-testigo.html), [marcador, etiquetas](./indicadores-quimicos.html)
          II|Indicadores para pruebas especificas|Verifican que el proceso de esterilziación haya cumplido un estandar establecido|[Prueba de Bowie-Dick, Dispositivos de Reto al Proceso](./indicadores-especificos.html)
          III|Indicadores de parámetro|Reaccionan solo a una de las variables críticas|En desuso por la introducción de indicadores nuevos.
          IV|Indicadores multiparámetro|Verifican más de una variable (ej. tiempo y temperatura)|En desuso en favor de los indicadores clase V que son más precisos. 
          V|Indicadores integradores|Responden a todos los parámetros criticos del proceso de esterilización| [Integradores clase V](./indicadores-integradores.html#claseV)
          VI|Indicadores emulador|Además de responder a todos los parámetros, indican cuando se ha cumplido un número determinado de ciclos de esterilización|[Indicadores clase VI](./indicadores-integradores.html#claseVI)
    
    +panelprod('Indicadores Clase I', './indicadores-proceso.html')
      .panel-body
        +foto('validacion-etiquetaTDOC.png', 'Etiqueta para documentación T-DOC')
    
    +panelprod('Indicadores Clase II', './indicadores-especificos.html')
      .panel-body
        +foto('validacion-pcd-verde.png', 'PCD para PMS')
    
    +panelprod('Indicadores Clase V', './indicadores-integradores.html#claseV')
      .panel-body
        +foto('validacion-integrador-claseV.png', 'Integrador clase V')
    
    +panelprod('Indicadores Clase VI', './indicadores-integradores.html#claseVI')
      .panel-body
        +foto('validacion-indicador-claseVI.png', 'Indicador clase VI')
