extends ../_layouts/base

block config 
  - var baseUrl = '../'
  - var tituloPagina = 'Gracias por estar con nosotros'
  - var descripcion = 'Queremos agradecer tu participación en nuestra encuesta'
    
block append content 
  +jumbo(tituloPagina)  
  
  .grid 
    +cardmax('Tus comentarios nos ayudan a mejorar')
      .card-body
        p Toda la información que nos proporcionaste será manejada con estricta confidencialidad. Si tienes cualquier duda puedes consultar nuestro 
          a(href="../aviso-privacidad.html") aviso de privacidad 
          | y estamos en el correo 
          a(href="mailto:info@technodomus.com") info@technodomus.com 
          | para cualquier duda o sugerencia.

        h2 ¡Gracias!