extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Desincrustante'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Lavado: './', Desincrustante:'#'}  
  
block content
  +cabecera(producto, bread)

  +panelprod(producto)
    .panel-body
    +foto('Desinfectante-CaviCide-Metrex.jpg', 'Bolsas de papel')
    p 
