extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Desincrustante'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Lavado: './', Desincrustante:'#'}  
  
block content
  +cabecera(producto, bread)

  .grid
    +panelmax('MetriShine®')
      .panel-body
        +foto('lavado-solucion-MetriShine-Metrex.png', MetriShine)
        :markdown
          ### Solución multipropósito (anti-corrosión)
          Metrishine es un concentrado multipropósito que ayuda a elminar el óxido, sarro y depositos calcareos que se pueden formar en el instrumental de acero inóxidable, mejorando su funcionalidad e incrementando la vida útil del mismo. Tambien es útil para eliminar incrustaciones y depositos de minerales causados por el agua dura en lavadoras autómaticas y autoclaves.
        +metrex
        :marked
          No. Artículo | Descripción
          :-----------:|:-----------:
          10-9300 | Caja c/4 galones (3.78 L aprox.)
