extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Desinfectantes'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Lavado: './', Desinfectantes:'#'}  
  
block content
  
  +cabecera(producto, bread)
  
  .grid
    +panelprod(producto)
      .panel-body
      +foto('Desinfectante-CaviCide-Metrex.jpg', 'Bolsas de papel')
      p 
