extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Desinfectantes'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Lavado: './', Desinfectantes:'#'}  
  
block content
  
  +cabecera(producto, bread)
  
  .grid
    +cardprod('CaviCide®')
      .card-body
        +foto('Desinfectante-CaviCide-Metrex.jpg', 'CaviCide')
        :markdown
          #### Desinfectante de superficies
          Solución desinfecctante de nivel intermedio diseñada para la limpieza, descontaminación y desinfección de superficies no porosas. Es ideal para la descontaminación de tanto de superficies en general como para el instrumental médico.
          
          Es efectiva contra virus y bacterias de diversa indole, con una aplicación de **2 minutos** mata los siguientes microorganismos:
          
          + *Staphylococcus aureus* resistente a la methicilina.
          + *Enterococcus faecalis* resistente a la vancomicina.
          + *Staphylococcus aureus* con susceptibilidad reducida a la vancomicina.
          + Virus de la hepatitis tipo B.
          + Virus de la hepatitis tipo C.
          + Virus del Herpes Simplex tipo 1 y 2.
          + Virus de la Inmunodeficiencia Humana (VIH-1).
          + Coronavirus humano (no asociado con el Sindrome Respiratorio Severo o SARS)
          + Virus de la influenza A2
          
          Con una aplicación de **3 minutos** elimina:
          
          + *Mycobacterium tuberculosis* variedad bovis
          + *Staphylococcus aureus*
          + *Pseudomonas aeruginosa*
          + *Salmonella enterica*
          + *Trichophyton mentagrophytes*
        +metrex
        :marked
          No. Artículo | Descripción
          :-----------:|:----------:
          13-5000 | Caja c/4 galones
          13-5008 | Caja c/12 botellas (237 mL)
          13-5024 | Caja c/12 botellas (710 mL)
          
      .card-footer
        a(href="http://www.metrex.com/sites/default/files/content/education-file/education-file-upload/CaviCide%20US%20GHS%20SDS%20(3.23.16).pdf") MSDS CaviCide (en inglés)
          
    +cardprod('CaviWipes®')
      .card-body
        +foto('Toallas-CaviWipes-Metrex.jpg','CaviWipes®')
        :markdown
          #### Toallas desinfectantes
          CaviWipes® es un limpiador y desinfectante en uno. Permite usar un desinfectante con 99.9% de efectividad contra bacterias, virus y hongos, de una forma simple, práctica y rápida. 
          Estan consituidas por un material no tejido, durable y no abrasivo, que no se deshilacha evitando contaminacion por fibras.
          Con la misma efectividad que CaviCide® en solución, es efectivo incluso contra *Staphylococcus aureus* en 3 minutos.
        +metrex
        :marked
          No. Artículo | Descripción
          :-----------:|:----------:
          13-5100 | Caja c/12 botes (160 toallas c/u)
          13-5150 | Caja c/12 botes (65 toallas c/u)
          13-5224 | Empaque c/20 botes (45 toallas c/u)
      .card-footer
        a(href="http://www.metrex.com/sites/default/files/content/education-file/education-file-upload/guide-to-surface-disinfection-with-caviwipes-77-1006.pdf") Guia de uso de CaviWipes (en inglés)
          
    +cardprod('MetriCide® OpaPlus')
      .card-body
        +foto('Desinfectante-Metricide-Metrex.jpg','Metricide')
        :markdown
          #### Desinfectante de alto nivel
          Ideal para reprocesamiento manual y automático de equipos semicríticos sensibles al calor y que no son susceptibles a ser esterilizados, siempre que se sigan las instrucciones de uso. Esta libre de glutaraldehído ya que su ingrediente activo es orto-Phtalaldehído y puede ser uado en reprocesadoras manuales y automáticas de endoscopios.
          Es el desinfectante con mayor vida útil en el mercado, de hasta 30 días, simpre que se use de acuerdo a las instrucciones.
          Usado de forma manual desinfecta en 12 minutos a 20°C, en autómatico en 5 minutos a 25°C.
        +metrex
        :marked
          No. Artículo | Descripción
          :-----------:|:----------:
          10-6000 | Caja c/4 galones
      .card-footer
        a(href="http://www.metrex.com/sites/default/files/content/education-file/education-file-upload/metricide-opa-plus-wall-chart-77-1191-3.pdf") Guía de uso (en inglés)
        
    +cardprod('MetriCide® OpaPlus tiras de prueba')
      .card-body
        +foto('tirasprueba-Metricide-Metrex.jpg','tiras de prueba')
        :markdown
          ####Tiras de prueba con indicador químico
          Estas tiras permiten verificar la Concetración Mínima Recomendada del desinfectante MetriCide OpaPlus en tan solo 60 segundos, lo que ayuda al seguimiento del desinfectante y identificar cuando es necesario cambiar la solución o corregir su concentración.
        +metrex
        :marked
          No. Artículo | Descripción
          :-----------:|:----------:
          10-602 | bote c/100 Tiras
      .card-footer
        a(href="http://www.metrex.com/sites/default/files/content/education-file/education-file-upload/guide-to-using-metricide-opa-plus-solution-test-strips-77-1401.pdf") Guia de uso de las tiras de prueba (en inglés)
