extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Desinfectantes'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Lavado: './', Desinfectantes:'#'}  
  
block content
  
  +cabecera(producto, bread)
  
  .grid
    +panelmax('CaviCide®')
      .panel-body
        +foto('Desinfectante-CaviCide-Metrex.jpg', 'CaviCide')
        :markdown
          #### Desinfectante de superficies
          Solución desinfecctante de nivel intermedio diseñada para la limpieza, descontaminación y desinfección de superficies no porosas. Es ideal para la descontaminación de tanto de superficies en general como para el instrumental médico.
          
          Es efectiva contra virus y bacterias de diversa indole, con una aplicación de **2 minutos** mata los siguientes microorganismos:
          
          + *Staphylococcus aureus* resistente a la methicilina.
          + *Enterococcus faecalis* resistente a la vancomicina.
          + *Staphylococcus aureus* con susceptibilidad reducida a la vancomicina.
          + Virus de la hepatitis tipo B.
          + Virus de la hepatitis tipo C.
          + Virus del Herpes Simplex tipo 1 y 2.
          + Virus de la Inmunodeficiencia Humana (VIH-1).
          + Coronavirus humano (no asociado con el Sindrome Respiratorio Severo o SARS)
          + Virus de la influenza A2
          
          Con una aplicación de **3 minutos** elimina:
          
          + *Mycobacterium tuberculosis* variedad bovis
          + *Staphylococcus aureus*
          + *Pseudomonas aeruginosa*
          + *Salmonella enterica*
          + *Trichophyton mentagrophytes*
        +metrex
        :marked
          No. Artículo | Descripción
          :-----------:|:----------:
          13-5000 | Caja c/4 galones
          13-5008 | Caja c/12 botellas (237 mL)
          13-5024 | Caja c/12 botellas (710 mL)
          
      .panel-footer
        a(href="http://www.metrex.com/sites/default/files/content/education-file/education-file-upload/CaviCide%20US%20GHS%20SDS%20(3.23.16).pdf") MSDS CaviCide (en inglés)
          
    +panelprod('CaviWipes')
      
