extends ../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var urlLinks = '/esterilizacion/lavado/'
  - var producto = "Lavado de instrumental y dispositivos médicos"
  - var tituloPagina = "Technodomus | Soluciones en " + productos
  - var bread = {Inicio: baseUrl, Esterilización: './../', Lavado: './'}
  mixin bien()
    span.fa.fa-check-square-o
  
  mixin mal()
    span.fa.fa-ban.text-danger

block append content
  
  .grid
    +cardsprin('Importancia del lavado')
      .card-body
        p El lavado es el paso más importante para mejorar la 
          b efectividad 
          | de la desinfección o la esterilización ya que:
          ul 
            li Elimina la mayor parte de la carga microbiana.
            li Retira la suciedad y restos visibles
            li Previene la formación de biofilms y presencia de pirógenos ya que los residuos orgánicos funcionan como barrera protectora
            li Protege al personal que de esta forma maneja material más seguro.
      .card-footer El éxito de la desinfección y esterilización depende de un buen lavado
      
    +cardprin('Recomendaciones generales para el proceso de lavado')
      .card-body
        ol
          li Realizar el lavado en el área designada para la descontaminación.
          li Utilizar <a href="./detergente-enzimatico.html">detergente enzimático</a> para facilitar la remoción de residuos.
          li Utilizar <a href="./detergentes.html">detergentes con pH neutro</a> ya que compatible con los materiales del equipo y no les causa deterioros a largo plazo como si lo hacen los agentes cáusticos y ácidos.
          li El cepillado debe ser suave para evitar daños en el instrumental.
    
    +cardsubp('Lavadoras de ultrasonido', './lavadoras-ultrasonicas.html')
      +foto('lavadora-ultrasonido.jpg', 'Lavadoras ultrasonicas')
      .card-body
        p Un lavado eficiente es crucial para la efectividad de la esterilización. Esto es aún más crítico en el caso del instrumental complejo y delicado, que muchas veces no puede recibir un lavado manual enérgico. La necesidad de un lavado correcto en los instrumentales delicado puede cubrirse con una lavadora de ultrasonido que usando una cavitación controlada, retire suciedad de la superficie sin dañar los materiales del instrumento ni comprometer su funcionalidad.
      .card-footer
        a(href="./lavadoras-ultrasonicas.html") Explora nuestras opciones de lavadoras.

    +cardsubp('Desinfectantes', './desinfectantes.html')
      +foto("caviwipes-bleach.jpg", 'Desinfectantes')
      .card-body
        p Una vez concluido el lavado, la carga microbiana en las superficies aún puede ser muy considerable, por lo que en los instrumentos que no pueden ser esterilizados deberán desinfectarse químicamente.
      .card-footer
        a(href="../desinfeccion") Conoce la gama de desinfectantes

    +cardsprin('Insumos para lavado y cuidado de instrumental', './insumos.html')
      +foto('lavado-manual.jpg', 'lavado manual')
      .card-body
        p Para un buen lavado, no basta solo un excelente equipo, este requiere de insumos adecuados para realizar sus funciones. Los productos para lavado que ofrecemos no solo mejoran el rendimiento de los procesos de desinfección, sino que también estan diseñado para proteger y alargar la vida útil de su instrumental.
      .card-footer
        a(href="./insumos.html") Descubra las opciones más adecuadas para el lavado.

    //- +cardsubp('Lavadora desinfectadora WD14')
    //-   +foto('lavadora-WD14-Getinge.jpg','Lavadora WD14')
    //-   .card-body
    //-     p Lavadora de sobremesa, compacta y eficiente, para instrumental en constante uso.
    //-   .card-footer
    //-     a(href= "./lavadoras.html") Conozca otras opciones en lavadoras.
        
    +cardsubp('Detergente enzimatico EmPower®', './insumos.html')
     +foto('Detergente-EmPower-Metrex.png', 'Detergente EmPower')
     .card-body
       p Detergentes con enzimas protolíticas y surfactantes que ayudan a remover rápida y eficazmente los restos de materiales biológicos ricos en proteinas.
      .card-footer
        a(href="./insumos.html") Visita nuestro catalogo de insumos
        
         
    //- +cardsubp('Lavadora desinfectadora WD15', './lavadora-WD15-Claro.html')
    //-   +foto('Lavadora-WD15-Claro-Getinge.jpg', 'Lavadora WD15')
    //-   .card-body
    //-     p Lavadora para instalar bajo la mesa, alta capacidad y control constante del proceso gracias a su puerta de vidrio.
    //-   .card-footer  
    //-     a(href="./lavadora-WD15-Claro.html") Observe sus ventajas
          
