extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'

block content
  +cardprod('Lavado de instrumental y dispositivos médicos')
    .card-body
      p El lavado es el paso más importante para mejorar la 
        b efectividad 
        | de la desinfección o la esterilización ya que:
        ul 
          li Elimina la mayor parte de la carga microbiana.
          li Retira la suciedad y restos visibles
          li Previene la formación de biofilms y presencia de pirogenos ya que los residuos orgánicos funcionan como barrera protectora
          li Protege al personal que de esta forma maneja material más seguro.
    .card-footer El éxito de la desinfección y esterilización depende de un buen lavado
        
  +cardmax('¿Vale la pena realizar un lavado manual?')
      table
        thead
          tr
            th Beneficios
            th Automático
            th Manual
        tbody
          tr
            td Reducción de la biocarga
            td.text-center X
            td.text-center X
          tr
            td Favorece los procesos de esterilización y desinfección
            td.text-center X
            td.text-center X
          tr
            td Protección del usuario del contacto con material biológico
            td.text-center X
            td.text-center -
          tr
            td Estandarización del proceso
            td.text-center X
            td.text-center -
          tr
            td Facilita el seguimiento del equipo en procesos de certificación y trazabilidad
            td.text-center X
            td.text-center -
          tr
            td Reducción de tiempos
            td.text-center X
            td.text-center -
          tr
            td Manejo del instrumental delicado
            td.text-center X
            td.text-center -
      h3 Recomendaciones generales para el proceso de lavado
      ol
        li Realizar el lavado en el área designada para la descontaminación.
        li Utilizar <a(href="/enzimatico")>detergente enzimático</a> para facilitar la remoción de residuos.
        li Utilizar <a(href="/detergentes")>detergentes con pH neutro</a> ya que compatible con los materiales del equipo y no les causa deterioros a largo plazo como si lo hacen los agenes cáusticos y ácidos.
        li El cepillado debe ser suave para evitar daños en el instrumental.
