extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var urlLinks = '/esterilizacion/lavado/'
  - var producto = 'Insumos para lavado'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Lavado: './', Insumos : '#'}  

block content
  +cabecera(producto, bread)
  
  .grid
    +cardprod('Insumos de alta calidad')
      .card-body
        p En Technodomus sabemos que el equipo no es todo, requiere de personal adecuado y de insumos de la mejor calidad para funcionar correctamente, por ello le ofrecemos una variedad de insumos mejorar sus procesos de lavado y sacar el máximo provecho a los equipos e instrumental de su institución.
        h4
          a(href= "./detergente-enzimatico.html") Detergentes enzimáticos
        h4
          a(href= "./abrillantador.html") Abrillantador
        h4
          a(href= "../desinfeccion") Desinfectantes
        h4
          a(href= "./desincrustante.html") Desincrustante

    +cardsubp('Detergente enzimático','detergente-enzimatico.html')
      .card-body
        a(href= "./detergente-enzimatico.html")
          +foto('Detergente-EmPower-Metrex.png', 'Detergente Enzimatico')    

    +cardsubp('Abrillantador','abrillantador.html')
      .card-body
        a(href= "./abrillantador.html") 
          +foto('Lubricante-MetriLube-Metrex.jpg', 'Abrillantador')

    +cardsubp('Desinfectantes','../desinfeccion')
      .card-body
        a(href= "../desinfeccion")
          +foto('Desinfectante-CaviCide-Metrex.jpg', 'Desinfectantes CaviCide')

    +cardsubp('Desincrustante','desincrustante.html')
      .card-body
        a(href= "./desincrustante.html")
          +foto('lavado-solucion-MetriShine-Metrex.png', 'Desincrustante')