extends ../../_layouts/productos2

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Lavadoras Ultrasónicas'
  - var tituloPagina = "Technodomus | Soluciones en " + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Lavado: './', 'Lavadoras ultrasónicas':'#'}  
  - var descripcion = "Una gama completa de lavadoras de ultrasonido con diferentes tamaños de tina que van desde 10 hasta 144 litros y que permiten mejorar la calidad de sus procesos de lavado especialmente en el instrumental más delicado y con formas más intrincadas como el equipo de endoscopia o cirugía mínimamente invasiva"
  
block content
  +cabecera(producto, bread)

  .grid
    +cardprod()
      +foto('lavadora-ultrasonido.jpg', 'Lavadora Ultrasonido')
      .card-body
        :markdown
          Technodomus cuenta con una gama completa de tinas de mesa, desde 10 a 30 L, y de tinas de pie de 50 a 140 L, para el lavado ultrasónico. Fáciles de utilizar y de alta calidad, nuestras lavadoras cuentan con tina de acero inoxidable, control de temperatura de hasta 65 °C, sistema de drenaje y controles digitales, e indicadores LED o con pantalla LCD a elegir.
          Además, cuentan con la posibilidad de realizar ciclos de lavado en una, dos o tres frecuencias distintas, lo que hace más eficiente el lavado y mejora el desempeño ante diferentes condiciones de suciedad y configuración de los instrumentos a procesar.

    +cardsubp('Características generales')
      .card-body
        +foto('lavadoras-ultrasonido.jpg', 'Gama de lavadoras de ultrasonido')
        ul
          li La gama va de 10 a 30 litros de capacidad de la tina, todas con tapa y una canasta opcional adaptada a cada tamaño.
          li Control de tiempo y temperatura electrónico.
          li Sistema de transductores de alto desempeño con la opción de una sola frecuencia (40kHz), dos frecuencias (40 y 60 kHz) o tres frecuencias (40, 60 y 80 kHz) en los modelos de 20 y 30 litros.
      
    +cardsubp('Especificaciones')
      .card-body
        :marked
          Modelo |	10 |	15 |	20 |	30
          -------|:---:|:---:|:---:|:---:
          Capacidad (Litros) | 10 | 15 |	20 | 30
          Largo  (mm) | 330 | 360 | 550 | 550 
          Alto (mm) | 365 | 365 | 365 | 415
          Profundidad (mm) | 270 | 330 | 330 | 330
          Largo tina | 300 | 330 | 500 | 500
          Alto tina | 150 | 150 | 150 | 200
          Ancho tina | 240 | 300 | 300 | 300 
          Potencia Ultrasonido (W) | 240 | 360 | 600 | 720
            
          
