extends ../../_layouts/productos

block append config
  //- Correct base url pathing for this page
  - var baseUrl = './../../'
  - var producto = 'Lavadoras Serie 46'
  - var tituloPagina = "Technodomus | Soluciones en" + producto
  - var bread = {Inicio: baseUrl, Esterilización: './../', Lavado: './','Lavadoras Automáticas': 'lavadoras.html', 'Lavadoras Desinfectadoras': 'lavadoras-desinfectadoras.html', 'Lavadoras Serie 46': '#'}

block content
  +cabecera(producto, bread)
  
  .grid
    +panelprod('Lavadoras-desinfectadoras Serie 46')
      .panel-body
        +foto('lavadora-Serie46-Getinge.jpg', 'Lavadoras Serie 46')
        p La serie 46 incluye lavadoras compactas pero con una capacidad de hasta 10 bandejas DIN (480 x 250 x 50 mm) y tecnología avanzada que incluye alarmas para informar el estado del proceso.
        p La Serie 46 de lavadoras desinfectadoras de Getinge combina una tecnología avanzada en una solución higienica y económica, grantizando al usuario una gran seguridad con alarmas integradas.
        p Diseñada para cumplir la demanda de clínicas dentales, departamentos de cirugía, y hasta de grandes centrales de esterilización. Limpian y desinfectan todo tipo de elementos en cuatro o cinco niveles, cada uno de los cuales esta formado por un estante y un brazo aspersor extraibles para adaptar al equipo a sus necesidades.
        +getinge
    
    +panelsubp('Características Generales')
      .panel-body
        +foto('getinge-wd15-claro-uso.jpg', 'usuarios')
        ul
          li Limpieza excepcional
          li Capaciad de 8 a 10 bandejas DIN
          li Secado de doble acción que reduce costos y tiempo de procesamiento
          li Puerta de vidrio para inspección visual del proceso
          li Tamaño compacto que ahorra espacio
          li Gran gama de accesorios
        
    +panelsubp('datos técnicos')
      .panel-body
        table
          colgroup
            col.column1
            col.column2plus3(span="2", aling='center')
          thead
            tr
              th Getinge Serie 46
              th.text-center Unidad
              th.text-center Valores
              tbody
                tr
                  td Estantes para lavado
                  td.text-center Pza
                  td.text-center 3
                tr
                  td Bandejas de lavado DIN 1/1*
                  td.text-center Pza
                  td.text-center 10
                tr
                  td Bandejas de lavado SPRI I**
                  td.text-center Pza
                  td.text-center 4
                tr
                  td Volumen de cámara (neto)
                  td.text-center L
                  td.text-center 180
                tr
                  td Volumen de cámara (efectivo)
                  td.text-center L
                  td.text-center 150
                tr
                  td Ancho de la cámara
                  td.text-center mm
                  td.text-center 538
                tr
                  td Profundidad de la cámara
                  td.text-center mm
                  td.text-center 534
                tr
                  td Alto de la cámara
                  td.text-center mm
                  td.text-center 520
                tr
                  td *= DIN 1/1 = 480x250x50 mm
                tr
                  td **= SPRI I = 450x340x70 mm
      .panel-footer
        a(href="http://www.getinge.com/files/HC/products/cleaning-disinfection/washer-disinfectors/wd15-claro/brochures/ward/getinge-wd15claro-ward-2372-es.pdf") Folleto del producto
