extends _layouts/base

block vars
  - var tituloPagina = 'Technodomus | Aviso de privacidad'
  - var col3 = "col-xs-12 col-sm-6 col-md-4"
  - var col2 = "col-xs-12 col-md-6"
  - var mail = {"estilos": "mail","ref": "mailto:info@technodomus.com?cc=quejas@technodomus.com","fa": "envelope"}
  - var descripcion = "En Technodomus nos preocupa tu privacidad, conoce nuestras políticas de acuerdo a la Ley de Privacidad"

block content
  .container-fluid
    .grid
      +cardmax('Aviso de privacidad')
        .card-body
          h2 Política de Privacidad Technodomus
          p Agradecemos su visita al sitio http://www.technodomus.com (en lo sucesivo, “EL SITIO”) o ponerse en contacto con nosotros mediante correo electrónico, a través de alguno de nuestros representantes o por medio de un formulario o cuestionario. Los datos personales que sean solicitados en contratos, formularios o cualquier otro medio al titular de los mismos o a su representante legal (en lo sucesivo, “LOS DATOS”) por parte de Technodomus S.A. de C.V. con domicilio en Cascada 402, Col. Banjidal, CP 09450, Iztapalapa, Ciudad de México, México y/o sus empresas filiales, afiliadas o pertenecientes al mismo grupo económico, (en lo sucesivo, “TECHNODOMUS”) serán usados y protegidos de acuerdo a lo establecido por la LEY FEDERAL DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE PARTICULARES Y SU REGLAMENTO. Esta política de privacidad es aplicable a “LOS DATOS” que “TECHNODOMUS” obtenga a través de “EL SITIO”, o mediante otros medios electrónicos, sus representantes y formularios elaborados por “TECHNODOMUS” y que muestran un vínculo con esta política. Esta política no es aplicable a “LOS DATOS” obtenidos mediante recursos de terceros que tengan un vínculo con Technodomus y/o en aquellos en los que “TECHNODOMUS” no controla el contenido o prácticas de seguridad en dichos recursos. Technodomus solicita los datos con el fin de utilizarlos para fines administrativos, informativos y/o comerciales relacionados con su objetivo social. Adicionalmente, “LOS DATOS” cuyo titular o su representante legal (en lo sucesivo, “EL USUARIO”) proporcione podrán ser compartidos con agencias de investigación de mercados debidamente autorizadas y contratadas por “TECHNODOMUS”, en el entendido de que en todo caso dichas agencias estarán sujetas a obligaciones de confidencialidad. “TECHNODOMUS” no entregará esta información a terceros, incluyendo aquellos que puedan usarla con fines de mercadotecnia a menos que el titular de los “EL USUARIO” otorgue explícitamente permiso para hacerlo. La confidencialidad de “LOS DATOS” está garantizada y los mismos están protegidos por medidas de seguridad administrativas, técnicas y físicas, para evitar su daño, pérdida, alteración, destrucción, uso, acceso o divulgación indebida. Únicamente las personas autorizadas tendrán acceso a sus Datos. “LOS DATOS” podrán ser proporcionados a terceros, única y estrictamente en los casos previstos en la Ley Federal de Protección de Datos Personales en Posesión de Particulares según lo establecido en el Artículo 37 de la citada Ley. “TECHNODOMUS” podrá proporcionar “LOS DATOS” a terceros con el fin de proporcionar un producto o un servicio que “EL USUARIO” haya solicitado. De acuerdo a lo establecido por la Ley Federal de Datos Personales en Posesión de Particulares, “TECHNODOMUS” informa que “EL USUARIO” tiene derecho al acceso, rectificación, cancelación y oposición al tratamiento que reciban “LOS DATOS”, para lo cual es necesario presentar una solicitud en los términos que establece el artículo 29 de la Ley de Protección de Datos Personales en Posesión de Particulares en las oficinas de “TECHNODOMUS” ubicadas en Cascada 402, Col. Banjidal, CP 09450, Iztapalapa, Ciudad de México, México, habiendo concertado previamente una cita al teléfono (55) 5336-3212. De igual forma “TECHNODOMUS” podrá negarse a conceder el acceso, realizar la rectificación, cancelación y/o la oposición de acuerdo a lo establecido en el artículo 34 de la Ley General de Protección de Datos Personales en Posesión de Particulares. “TECHNODOMUS” podrá divulgar la información personal del Usuario si existe requerimiento de autoridad que obligue a “TECHNODOMUS” a revelarle tal información; aunado a lo anterior, “TECHNODOMUS”, podrá utilizar la información de “EL USUARIO” en caso de que sea necesario para la protección de sus derechos. “EL USUARIO” podrá solicitar la cancelación del envío de correos electrónicos promocionales en la siguiente dirección electrónica: quejas@technodomus.com.
      +cardmax('Contacto para aclaraciones')
        .card-body
          +mixboton(mail)
        
  section#contacto
    include _modules/contacto/contacto

code.version v1.5.2
