extends ../../_layouts/productos2

block append config
  - var baseUrl = './../../'
  - var urlLinks = '/esterilizacion/esterilizacion/plasma.html'
  - var producto = "Esterilizador de Plasma LK/MJG-100"
  - var tituloPagina = 'Technodomus | ' + producto
  - var descripcion = "Un equipo de esterilización con plasma de peróxido de hidrógeno con un equilibrio entre capacidad y espacio ocupado. 100 L para esterilizar su equipo más delicado"
  - var bread = {Inicio: baseUrl, Esterilización: './../', Esterilizadores: './', Plasma: "./plasma.html", "LK/MJG-100":"#"}  

block append content

  .grid
    +cardprin(producto)
      .card-body
        +foto('esterilizador-plasma-100-laoken.png', 'Esterilizador Laoken de 100L', 'Plasma de 100L')
        :markdown