extends ../_layouts/base

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var tituloPagina = "Cotiza ahora"

block content
  .jumbotron
    h1.producto Cotiza con nosotros
  
  .grid
    +panelmax('Forma de contacto')
      .panel-body
        p Si esta interesado en alguno de nuestros productos le agradeceremos nos envie sus datos para que uno de nuestros especialistas se ponga en contacto con usted:
        form(name='cotizacion' action='https://formspree.io/info@technodomus.com' method="POST")
          .form-group
            label(for='nombre') Nombre 
            input#nombre(type='text' name='nombre' placeholder='Nombre de contacto' size='25')
            label Institución 
            input(type='text' name='institución' placeholder='Institución o empresa' size='25')
          .form-group
            label Telefono
            input(type='tel' name='telefono' placeholder='a 10 dígitos')
            label Correo
            input(type='email' name='_replyto' placeholder="correo@hospital.com")
          .form-group
            label Productos de su interes
            input(type='text' name='productos')
          .form-group
            label Especificaciones y comentarios
            textarea(rows='6' type="text" name='mensaje')
            input.btn.btn-primary.btn-raised(type='submit' value='Enviar')
          input(type="hidden" name="_next" value="./gracias.html")
          input(type="hidden" name="_subject" value="Solicitud de cotización")
          input(type="text", name="_gotcha", style="display:none")